.table > tbody > tr > td {
	vertical-align: middle;
	text-align: center;
}

.table > thead > tr > th {
	vertical-align: middle;
	text-align: center;
}

.fa-pencil {
	color: grey;
}

.fa-pencil:hover{
	color: black;
}

.card {
	margin-bottom: 20px;
}
