<div class="row">
	<div class="col-12">
		<h1>帳號列表</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>帳號</th>
					<th>姓名</th>
					<th>身份</th>
					<th>Email</th>
					<th>電話</th>
					<th>上次動作時間</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<td><span class="btn-editAccount"><i class="fa fa-pencil" aria-hidden="true"></i></span></td>
					<td>a123</td>
					<td>張大千</td>
					<td><span class="badge badge-info">管理員</span></td>
					<td>username@gmail.com</td>
					<td>049-1234567#1234</td>
					<td>03月15日 18:56:23 (2017)</td>
				</tr>
			</thead>
		</table>
	</div>
</div>
