<div class="row">
	<div class="col-12">
		<h4>107 學年度各大學校院僑生、港澳生及「港澳具外國國籍之華裔學生」招生名額調查</h4>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<p class="float-left sub-title-left">
			名額分配：
			<span class="badge badge-pill badge-primary">編輯中</span>
			<span class="badge badge-pill badge-info">已送出</span>
			<span class="badge badge-pill badge-success">已確認</span>
		</p>
		<span id="badge-status" class="badge"></span>
		<span class='float-right'>
			上次編輯：吳和融<br />03月15日 18:56:23 (2017)
		</span>
	</div>
</div>

<hr>

<div class="row">
	<div class="form-group col-12">
		<div class="card">
			<div class="card-header bg-primary text-white">
				學士班
			</div>
			<div class="card-block">
				<table>
					<tbody>
						<tr class="label-row">
							<td class="total-cell">本年度可招生總量</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">106 學年度核定日間學制 招生名額外加 10% 名額</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">106 學年度本地生招生缺額數</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">107 學年度申請專案擴增名額數</td>
						</tr>
						<tr class="input-row">
							<td class="total-cell"><input type="text" class="form-control" disabled></td>
							<td class="symbol-cell">＝</td>
							<td class="input-cell"><input type="text" class="form-control" disabled></td>
							<td class="symbol-cell">＋</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
							<td class="symbol-cell">＋</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
						</tr>
						<tr class="label-row">
							<td class="total-cell"></td>
							<td class="symbol-cell"></td>
							<td class="input-cell">107 學年度海外聯合招生管道名額</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">前三年海外聯合招生管道總分發名額數之平均</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">107 學年度各校自行招生管道名額</td>
						</tr>
						<tr class="input-row">
							<td class="total-cell"></td>
							<td class="symbol-cell">&ge;</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
							<td class="symbol-cell"></td>
							<td class="input-cell"><input type="text" class="form-control" disabled></td>
							<td class="symbol-cell">＋</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="form-group col-12">
		<div class="card">
			<div class="card-header bg-primary text-white">
				碩士班
			</div>
			<div class="card-block">
				<table>
					<tbody>
						<tr class="label-row">
							<td class="total-cell">本年度可招生總量</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">106 學年度核定日間學制 招生名額外加 10% 名額</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">106 學年度本地生招生缺額數</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">107 學年度申請專案擴增名額數</td>
						</tr>
						<tr class="input-row">
							<td class="total-cell"><input type="text" class="form-control" disabled></td>
							<td class="symbol-cell">＝</td>
							<td class="input-cell"><input type="text" class="form-control" disabled></td>
							<td class="symbol-cell">＋</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
							<td class="symbol-cell">＋</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
						</tr>
						<tr class="label-row">
							<td class="total-cell"></td>
							<td class="symbol-cell"></td>
							<td class="input-cell">107 學年度海外聯合招生管道名額</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">前三年海外聯合招生管道總分發名額數之平均</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">107 學年度各校自行招生管道名額</td>
						</tr>
						<tr class="input-row">
							<td class="total-cell"></td>
							<td class="symbol-cell">&ge;</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
							<td class="symbol-cell"></td>
							<td class="input-cell"><input type="text" class="form-control" disabled></td>
							<td class="symbol-cell">＋</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="form-group col-12">
		<div class="card">
			<div class="card-header bg-primary text-white">
				博士班
			</div>
			<div class="card-block">
				<table>
					<tbody>
						<tr class="label-row">
							<td class="total-cell">本年度可招生總量</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">106 學年度核定日間學制 招生名額外加 10% 名額</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">106 學年度本地生招生缺額數</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">107 學年度申請專案擴增名額數</td>
						</tr>
						<tr class="input-row">
							<td class="total-cell"><input type="text" class="form-control" disabled></td>
							<td class="symbol-cell">＝</td>
							<td class="input-cell"><input type="text" class="form-control" disabled></td>
							<td class="symbol-cell">＋</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
							<td class="symbol-cell">＋</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
						</tr>
						<tr class="label-row">
							<td class="total-cell"></td>
							<td class="symbol-cell"></td>
							<td class="input-cell">107 學年度海外聯合招生管道名額</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">前三年海外聯合招生管道總分發名額數之平均</td>
							<td class="symbol-cell"></td>
							<td class="input-cell">107 學年度各校自行招生管道名額</td>
						</tr>
						<tr class="input-row">
							<td class="total-cell"></td>
							<td class="symbol-cell">&ge;</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
							<td class="symbol-cell"></td>
							<td class="input-cell"><input type="text" class="form-control" disabled></td>
							<td class="symbol-cell">＋</td>
							<td class="input-cell"><input type="text" class="form-control"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
