<div id="form-schoolInfo">
	<div class="row">
		<div class="form-group col-6">
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">
						學校代碼
					</div>
				</div>
				<input type="text" id="schoolId" class="form-control" disabled>
			</div>
		</div>
		<ul class="list-inline">
			<li class="list-inline-item">
				<div class="col-3 offset-3 text-center float-left">
					<a href="addNewDepartment.html" class="btn btn-primary btn-lg">
						新增系所或系所變更類組
					</a>
				</div>
			</li>
			<li class="list-inline-item">
				<div class="col-3 offset-3 text-center float-left ">
					<button class="btn btn-success btn-lg" id="downloadExcel">
						下載學校清冊 Excel
					</button>
				</div>
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="form-group col-6">
			<label for="">學校中文名稱</label>
			<input id="title" type="text" class="form-control" disabled>
		</div>
		<div class="form-group col-6">
			<label for="">學校英文名稱</label>
			<input id="engTitle" type="text" class="form-control" disabled>
		</div>
	</div>
	<div class="row">
		<div id="phoneForm" class="form-group col-6">
			<label class="form-control-label text-danger" for="">學校電話號碼*</label>
			<input id="phone" type="tel" class="form-control">
		</div>
		<div id="faxForm" class="form-group col-6">
			<label class="form-control-label text-danger" for="">學校傳真號碼*</label>
			<input id="fax" type="tel" class="form-control">
		</div>
	</div>
	<div class="row">
		<div id="urlForm" class="form-group col-6">
			<label class="form-control-label text-danger" for="">學校中文網址*</label>
			<input id="url" type="url" class="form-control">
		</div>
		<div id="engUrlForm" class="form-group col-6">
			<label class="form-control-label text-danger" for="">學校英文網址*</label>
			<input id="engUrl" type="url" class="form-control">
		</div>
	</div>
	<div class="row">
		<div id="addressForm" class="form-group col-12">
			<label class="form-control-label text-danger" for="">學校中文地址*</label>
			<input id="address" type="text" class="form-control" disabled>
		</div>
	</div>
	<div class="row">
		<div id="engAddressForm" class="form-group col-12">
			<label class="form-control-label text-danger" for="">學校英文地址*</label>
			<input id="engAddress" type="text" class="form-control">
		</div>
	</div>
	<div class="row">
		<div id="organizationForm" class="form-group col-6">
			<label class="form-control-label text-danger" for="">承辦單位中文名稱*</label>
			<input id="organization" type="text" class="form-control">
		</div>
		<div id="engOrganizationForm" class="form-group col-6">
			<label class="form-control-label text-danger" for="">承辦單位英文名稱*</label>
			<input id="engOrganization" type="text" class="form-control">
		</div>
	</div>

	<div class="row ">
		<div class="form-group col-12">
			<div class="card">
				<div class="card-header bg-primary text-white">
					宿舍
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="row">
							<div class="form-group col-7">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<input id="hasDorm" type="checkbox"/>
										</div>
									</div>
									<input type="text" class="form-control" value="有無提供學生宿舍*（如『有』請勾選，『無』則免勾）" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div id="dormInfoForm" class="form-group col-12">
								<label class="form-control-label text-danger" for="">宿舍中文說明*</label>
								<textarea id="dormInfo" type="text" class="form-control" rows="7"></textarea>
							</div>
						</div>
						<div class="row">
							<div id="dormEngInfoForm" class="form-group col-12">
								<label class="form-control-label text-danger" for="">宿舍英文說明*</label>
								<textarea id="dormEngInfo" type="text" class="form-control" rows="7"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row ">
		<div class="form-group col-12">
			<div class="card">
				<div class="card-header bg-primary text-white">
					僑生專屬獎學金
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="row">
							<div class="form-group col-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<input id="hasScholarship" type="checkbox"/>
										</div>
									</div>
									<input type="text" class="form-control" value="有無提供僑生專屬獎學金*（如『有』請勾選，『無』則免勾）" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div id="scholarshipDeptForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">獎學金負責單位中文名稱*</label>
								<input id="scholarshipDept" type="text" class="form-control">
							</div>
							<div id="engScholarshipDeptForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">獎學金負責單位英文名稱*</label>
								<input id="engScholarshipDept" type="text" class="form-control">
							</div>
						</div>
						<div class="row">
							<div id="scholarshipUrlForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">僑生專屬獎學金中文說明網址*</label>
								<input id="scholarshipUrl" type="text" class="form-control">
							</div>
							<div id="engScholarshipUrlForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">僑生專屬獎學金英文說明網址*</label>
								<input id="engScholarshipUrl" type="text" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="form-group col-12">
			<div class="card">
				<div class="card-header bg-primary text-white">
					招收中五學制（簡稱中五生）
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="row">
							<div class="form-group col-9">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<input id="hasFiveYearStudentAllowed" type="checkbox"/>
										</div>
									</div>
									<input type="text" class="form-control" value="學則有無納入中五生『增加畢業學分』或『延長修業年限』等修業規範（如『有』請勾選，『無』則免勾）" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div id="ruleOfFiveYearStudentForm" class="form-group col-12">
								<label class="form-control-label text-danger" for="">本校學則之『中五生招生規範』相關條次及規定如下*</label>
								<textarea id="ruleOfFiveYearStudent" type="text" class="form-control" rows="2"></textarea>
							</div>
						</div>
						<div class="row" style="display:none">
							<div class="form-group col-12">
								<label for="">學則文件電子檔</label>
								<input id="ruleDocOfFiveYearStudent" type="file" class="form-control">
							</div>
						</div>
						<div class="row" style="display:none">
							<div class="form-group col-12">
								已上傳檔案：<a id="ruleDocOfFiveYearStudentUrl" href=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="form-group col-12">
			<div class="card">
				<div class="card-header bg-primary text-white">
					單獨招收僑生或港澳生（簡稱單招）
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="row">
							<div class="form-group col-6">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<input id="hasSelfEnrollment" type="checkbox"/>
										</div>
									</div>
									<input type="text" class="form-control" value="貴校是否經教育部核定可辦理單招*（如「有」請勾選，「無」則免勾）" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div id="approvalNoOfSelfEnrollmentForm" class="form-group col-12">
								<label class="form-control-label text-danger" for="">教育部核定單招公文發文日期及文號 *</label>
								<input id="approvalNoOfSelfEnrollment" type="text" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="">單招核定公文電子檔</label>
								<input id="approvalDocOfSelfEnrollment" type="file" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								已上傳檔案：<a id="approvalDocOfSelfEnrollmentUrl" href=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="form-group col-12">
			<div class="card">
				<div class="card-header bg-primary text-white">
					緬甸華校師資培育專案（簡稱緬甸師培）
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="row">
							<div class="form-group col-9">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<input id="hasMyanmarTeacherEducation" type="checkbox" disabled/>
										</div>
									</div>
									<input type="text" class="form-control" value="是否招收緬甸師培生（限設有教育學程課程之大學校院勾選，不招收或無教育學程課程之大學校院則免勾）" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div id="myanmarEducationTeacherScholarshipForm" class="form-group col-12">
								<label class="form-control-label text-danger" for="">緬甸師培專案專屬獎助學金</label>
								<textarea id="myanmarScholarshipInfo" type="text" class="form-control" rows="7" ></textarea>
							</div>
						</div>
						<div class="row">
							<div id="myanmarEducationTeacherDormForm" class="form-group col-12">
								<label class="form-control-label text-danger" for="">緬甸師培專案宿舍優惠說明</label>
								<textarea id="myanmarDormInfo" type="text" class="form-control" rows="4"></textarea>
							</div>
						</div>
						<div class="row">
							<div id="myanmarEducationTeacherNoteForm" class="form-group col-12">
								<label class="form-control-label text-danger" for="">備註</label>
								<textarea id="myanmarNote" type="text" class="form-control" rows="4"></textarea>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="offset-2 col-2 text-center">
			<button id="btn-save" data-action="save" class="btn btn-primary">
				儲存
			</button>
		</div>
		<div class="offset-3 col-2 text-center">
			<button class="btn btn-danger" id="btn-lock-school">
				鎖定學校資料
			</button>
		</div>
    </div>
  </div>
</div>
