<header class="header clearfix">
	<nav class="navbar navbar-light">
		<span class="navbar-brand" href="#">
			<img
			src="/img/logo.png"
			height="30"
			class="d-inline-block align-top">
			名額暨簡章調查系統
		</span>
	</nav>
</header>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<form>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
					<input type="text" id="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">
						<i class="fa fa-unlock-alt" aria-hidden="true"></i>
					</span>
					<input type="password" id="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
				</div>
			</div>
			<!--
			<div class="form-group">
				<p class="text-right">
					<a href="">無法登入？</a>
				</p>
			</div>
			-->
			<div class="form-group">
				<button type="button" class="btn btn-success btn-block" id="btn-login">登入</button>
			</div>
			<div class="form-group">
				<p id="errMsg"></p>
			</div>
		</form>
	</div>
</div>
<div class="row" style="padding-bottom: 5%; color:crimson">
	<div class="col-md-12" style="text-align: center">
		欲申請僑生名額增量之學校，務必下載並填列<a href="https://api.overseas.ncnu.edu.tw:8443/forms/海聯108僑生專案擴增名額調查表.xlsx" target="_blank">「108僑生名額增量調查表」</a>，
	</div>
	<div class="col-md-12" style="text-align: center">
		於107年6月20日（星期三）前備文敘明擬增量之班別且檢附前開增量調查表向教育部提出申請，
	</div>
	<div class="col-md-12" style="text-align: center">
		副知本會並將調查表電子檔併寄至本會電子郵件信箱（overseassurvey@gmail.com）俾利彙整。
	</div>
</div>
<script src="https://rawgit.com/emn178/js-sha256/master/src/sha256.js"></script>
