<header class="header clearfix">
	<nav class="navbar navbar-light">
		<span class="navbar-brand" href="#" id="navbar-brand-logo">
			<img
			src="/img/logo.png"
			height="30"
			class="d-inline-block align-top">
			名額暨簡章調查系統
		</span>
	</nav>
</header>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<form>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
					</div>
					<input type="text" id="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fa fa-unlock-alt" aria-hidden="true"></i>
						</div>
					</div>
					<input type="password" id="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
				</div>
			</div>
			<!--
			<div class="form-group">
				<p class="text-right">
					<a href="">無法登入？</a>
				</p>
			</div>
			-->
			<div class="form-group">
				<button type="button" class="btn btn-success btn-block" id="btn-login">登入</button>
			</div>
			<div class="form-group">
				<p id="errMsg"></p>
			</div>
		</form>
	</div>
</div>
<div class="row" style="padding-bottom: 5%; color:crimson;">
	<div class="col-md-12" style="text-align: center">
		<ul>
			<li>
				回傳方式：確認名額無誤後，列印「簡章回覆表」並簽章，傳真或掃描電郵至本會（傳真號碼：049-2911182，電郵信箱：overseassurvey@gmail.com）始完成簡章填報作業。
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<a href=".." title="海外聯招會委員學校平台">最新消息</a>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="https://drive.google.com/file/d/1fy8Af7mlR2bEktlolXdcm4wIjW9EahGs/view?usp=sharing" target="_blank">
						108 學年度各校名額調查及系所分則填報清冊
					</a>
				</li>
				<li class="list-group-item">
					<a href="http://api.overseas.ncnu.edu.tw/forms/僑生及港澳生招生管道圖.docx">
						僑生及港澳生招生管道圖
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="https://rawgit.com/emn178/js-sha256/master/src/sha256.js"></script>
<script>
	if (!env.isProduction) {
		document.getElementById('navbar-brand-logo').innerHTML='<img src="/img/logo.png" height="30" class="d-inline-block align-top">名額暨簡章調查系統-測試站';
	}
</script>
