<header class="header clearfix">
	<nav class="navbar navbar-light">
		<span class="navbar-brand" href="#" id="navbar-brand-logo">
			<img
			src="/img/logo.png"
			height="30"
			class="d-inline-block align-top">
			名額暨簡章調查系統
		</span>
	</nav>
</header>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<form>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
					</div>
					<input type="text" id="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fa fa-unlock-alt" aria-hidden="true"></i>
						</div>
					</div>
					<input type="password" id="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
				</div>
			</div>
			<!--
			<div class="form-group">
				<p class="text-right">
					<a href="">無法登入？</a>
				</p>
			</div>
			-->
			<div class="form-group">
				<button type="button" class="btn btn-success btn-block" id="btn-login">登入</button>
			</div>
			<div class="form-group">
				<p id="errMsg"></p>
			</div>
		</form>
	</div>
</div>
<div class="row" style="padding-bottom: 5%; color:crimson;">
	<div class="col-md-12" style="text-align: center">
		<div style="color: red; background-color: lightgoldenrodyellow; border-radius: 25px; font-weight:bolder; margin-bottom:3%;">
			目前系統尚屬不穩定狀態，請各承辦人稍晚再進入填報；<br /> 待系統人員檢修後將第一時間公佈於此，謝謝大家。
		</div>
		<ul>
			<li>
				<span style="color:blue">因8/17埔里地震影響機臺，導致名額暨簡章分則系統無法操作，耽誤各校承辦人填報作業，特此致歉。本系統將</span>順延至星期三（8/22）下午5:00關閉<span style="color:blue;">，敬請各校於期限內完成填報並回傳，謝謝！</span>
			</li>
			<li>
				回傳方式：確認名額及分則內容無誤後，列印「簡章回覆表」並簽章，傳真或掃描電郵至本會（傳真號碼：049-2911182，電郵信箱：overseassurvey@gmail.com）始完成簡章填報作業。
			</li>
		</ul>
	</div>
</div>
<script src="https://rawgit.com/emn178/js-sha256/master/src/sha256.js"></script>
<script>
	if (!env.isProduction) {
		document.getElementById('navbar-brand-logo').innerHTML='<img src="/img/logo.png" height="30" class="d-inline-block align-top">名額暨簡章調查系統-測試站';
	}
</script>
