<header class="header clearfix">
	<nav class="navbar navbar-light">
		<span class="navbar-brand" href="#" id="navbar-brand-logo">
			<img
			src="/img/logo.png"
			height="30"
			class="d-inline-block align-top">
			名額暨簡章調查系統
		</span>
	</nav>
</header>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<form>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
					</div>
					<input type="text" id="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fa fa-unlock-alt" aria-hidden="true"></i>
						</div>
					</div>
					<input type="password" id="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fa fa-puzzle-piece" aria-hidden="true"></i>
						</div>
					</div>
					<input type="text" id="identifying-code" class="form-control" placeholder="驗證碼" aria-describedby="basic-addon1">
					<canvas id="identifying-canvas" width="120" height="40" title="點擊圖片可更新驗證碼"></canvas>
				</div>
			</div>
			<!--
			<div class="form-group">
				<p class="text-right">
					<a href="">無法登入？</a>
				</p>
			</div>
			-->
			<div class="form-group">
				<button type="button" class="btn btn-success btn-block" id="btn-login">登入</button>
			</div>
			<div class="form-group">
				<p id="errMsg"></p>
			</div>
		</form>
	</div>
</div>
<div class="row" style="padding-bottom: 5%; color:crimson;">
	<div class="col-md-12" style="text-align: center">
		<ul>
			<li>
				帳號及密碼前以108年6月12日海聯試字第1082000596號函致送（諒達），請以附件之預設帳號及操作代碼登入。承辦人可於登入系統後自行更改操作代碼。
			</li>
			<li>
				回傳方式：確認名額無誤後，列印「簡章回覆表」並簽章，傳真或掃描電郵至本會（傳真號碼：<a href="tel:+886-49-2911182">049-2911182</a>，電郵信箱：<a href="mailto:overseassurvey@gmail.com">overseassurvey@gmail.com</a>）始完成簡章填報作業。
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<a title="海外聯招會委員學校平台">最新消息</a>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a target="_blank" href="https://drive.google.com/file/d/1id0g-RYylTMBtnH3hTU0IiYi_N08CufW/view?usp=sharing">
						111學年度僑、港澳生招生管道說明（公文附件一）
					</a>
				</li>
				<li class="list-group-item">
					<a target="_blank" href="https://ior.ad/7ESG">
						111 學年度名額暨簡章調查系統操作手冊（公文附件二）
					</a>
				</li>
				<li class="list-group-item">
					<a target="_blank" href="https://bbb.ncnu.edu.tw/b/kcc-wh9-z4q">
						系統操作問題諮詢視訊會議連結（8/16 上午 10:30）
					</a>
				</li>
				<li class="list-group-item">
					<a target="_blank" href="https://drive.google.com/drive/folders/1jSJpJCvbVRfVtAOVJFbDlymAPh9f0GIv?usp=sharing">
						各校上（110）年各學制校系分則規定
					</a>
				</li>
				<li class="list-group-item">
					<a target="_blank" href="https://drive.google.com/file/d/1tW_J_exxw-H5OHuM37lKWKDLE3_xIxYC/view?usp=sharing">
						名額暨簡章調查系統忘記密碼申請單
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="https://rawgit.com/emn178/js-sha256/master/src/sha256.js"></script>
<script>
	if (!env.isProduction) {
		document.getElementById('navbar-brand-logo').innerHTML='<img src="/img/logo.png" height="30" class="d-inline-block align-top">名額暨簡章調查系統-測試站';
	}
</script>
