<link rel="stylesheet" href="css/systemQuota.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">
<div class="row">
	<div class="col-12">
		<h3 class="float-left">名額調查</h3>
		<span id="lastEditionInfo" class='float-right'>
			上次編輯：<span class="who"></span><br /><span class="when"></span>
		</span>
	</div>
</div>
<hr />

<div class="row">
	<div class="col-2 offset-10 text-center float-right">
		<button class="btn btn-success btn-block" id="btn-pdf">
			下載ＰＤＦ
		</button>
	</div>
</div>

<!-- <div id="bachelor_quota">
	<div class="row">
		<div class="col-2">
			<h4 class="float-right">學士班 (含港二技)</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-2 offset-1">
			<div class="form-group">
				<small id="" class="form-text text-muted">107 總量</small>
				<input type="number" class="form-control" id="last_year_admission_amount_bache" disabled>
			</div>
		</div>
		<span class="operator">＋</span>
		<div class="col-3">
			<div class="form-group">
				<small id="" class="form-text text-muted">107本地生缺額欲提供108僑生名額</small>
				<input type="number" min="0" class="form-control" id="last_year_surplus_admission_quota_bache" required>
			</div>
		</div>
		<span class="operator">＋</span>
		<div class="col-2">
			<div class="form-group">
				<small id="" class="form-text text-muted">申請108增量</small>
				<input type="number" min="0" class="form-control" id="expanded_quota_bache" required>
			</div>
		</div>
		<span class="operator">＝</span>
		<div class="col-2">
			<div class="form-group">
				<small id="" class="form-text text-muted">108僑生名額總量</small>
				<input type="number" class="form-control" id="allowTotal_bache" disabled>
			</div>
		</div>
	</div>
</div> -->

<!-- <div id="master_quota">
	<div class="row">
		<div class="col-1">
			<h4 class="float-right">碩士班</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-2 offset-1">
			<div class="form-group">
				<small id="" class="form-text text-muted">107 總量</small>
				<input type="text" class="form-control" id="last_year_admission_amount_master" disabled>
			</div>
		</div>
		<span class="operator">＋</span>
		<div class="col-3">
			<div class="form-group">
				<small id="" class="form-text text-muted">107本地生缺額欲提供108僑生名額</small>
				<input type="number" min="0" class="form-control" id="last_year_surplus_admission_quota_master" required>
			</div>
		</div>
		<span class="operator">＋</span>
		<div class="col-2">
			<div class="form-group">
				<small id="" class="form-text text-muted">申請108增量</small>
				<input type="number" min="0" class="form-control" id="expanded_quota_master" required>
			</div>
		</div>
		<span class="operator">＝</span>
		<div class="col-2">
			<div class="form-group">
				<small id="" class="form-text text-muted">108僑生名額總量</small>
				<input type="text" class="form-control" id="allowTotal_master" disabled>
			</div>
		</div>
	</div>
</div> -->

<!-- <div id="phd_quota">
	<div class="row">
		<div class="col-1">
			<h4 class="float-right">博士班</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-2 offset-1">
			<div class="form-group">
				<small id="" class="form-text text-muted">107 總量</small>
				<input type="text" class="form-control" id="last_year_admission_amount_phd" disabled>
			</div>
		</div>
		<span class="operator">＋</span>
		<div class="col-3">
			<div class="form-group">
				<small id="" class="form-text text-muted">107本地生缺額欲提供108僑生名額</small>
				<input type="number" min="0" class="form-control" id="last_year_surplus_admission_quota_phd" required>
			</div>
		</div>
		<span class="operator">＋</span>
		<div class="col-2">
			<div class="form-group">
				<small id="" class="form-text text-muted">申請108增量</small>
				<input type="number" min="0" class="form-control" id="expanded_quota_phd" required>
			</div>
		</div>
		<span class="operator">＝</span>
		<div class="col-2">
			<div class="form-group">
				<small id="" class="form-text text-muted">108僑生名額總量</small>
				<input type="text" class="form-control" id="allowTotal_phd" disabled>
			</div>
		</div>
	</div>
</div> -->




<table style="border:4px #CFAA9E solid;" cellpadding="12" border='2'>
	<tr>
		<th style="border-right:3px #CFAA9E solid; width:7%">班別</th>
		<th style="width:9%">核定總量</th>
		<th style="border-right:3px #CFAA9E solid; width:9%">上限<br/>（總量10％）</th>
		<th>欲使用名額</th>
		<th>班別間流用 <i class="fa fa-info-circle" id="quota_passed_info" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="可以是負數，班別間流用相加為零即可。"></i></th>
		<th>本地生缺額</th>
		<th style="border-right:3px #CFAA9E solid;">申請<%= year -1910%>增量</th>
		<th>總實際招生名額</th>
	</tr>
	<tr id="bachelor_quota">
		<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">學士班<br/>(含港二技)</td>
		<td style="border-top:3px #CFAA9E solid;"><input type="number" class="form-control" id="last_year_admission_amount_bache_multiply_10" disabled></td>
		<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;" ><input type="number" class="form-control" id="last_year_admission_amount_bache" disabled></td>
		<td style="border-top:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" id="quota_used_bache" required></td>
		<td style="border-top:3px #CFAA9E solid;"><input type="number" class="form-control" id="quota_passed_bache" required></td>
		<td style="border-top:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" id="last_year_surplus_admission_quota_bache" required></td>
		<td style="border-right:3px #CFAA9E solid;border-top:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" id="expanded_quota_bache" required></td>
		<td style="border-top:3px #CFAA9E solid;"><input type="number" class="form-control" id="allowTotal_bache" disabled></td>
	</tr>
	<tr id="master_quota">
		<td style="border-right:3px #CFAA9E solid;">碩士班</td>
		<td><input type="number" class="form-control" id="last_year_admission_amount_master_multiply_10" disabled></td>
		<td style="border-right:3px #CFAA9E  solid;"><input type="number" class="form-control" id="last_year_admission_amount_master" disabled></td>
		<td><input type="number" min="0" class="form-control" id="quota_used_master" required></td>
		<td><input type="number" class="form-control" id="quota_passed_master" required></td>
		<td><input type="number" min="0" class="form-control" id="last_year_surplus_admission_quota_master" required></td>
		<td style="border-right:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" id="expanded_quota_master" required></td>
		<td><input type="number" class="form-control" id="allowTotal_master" disabled></td>
	</tr>
	<tr id="phd_quota">
		<td style="border-right:3px #CFAA9E solid;">博士班</td>
		<td><input type="number" class="form-control" id="last_year_admission_amount_phd_multiply_10" disabled></td>
		<td style="border-right:3px #CFAA9E solid;"><input type="number" class="form-control" id="last_year_admission_amount_phd" disabled></td>
		<td><input type="number" min="0" class="form-control" id="quota_used_phd" required></td>
		<td><input type="number" class="form-control" id="quota_passed_phd" required></td>
		<td><input type="number" min="0" class="form-control" id="last_year_surplus_admission_quota_phd" required></td>
		<td style="border-right:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" id="expanded_quota_phd" required></td>
		<td><input type="number" class="form-control" id="allowTotal_phd" disabled></td>
	</tr>
</table>
<!--  名額調查表格填寫範例  所以不能輸入 數值也是寫死的 -->
<div id="accordion">
	<div class="card">
		<div class="card-header" id="heading">
		<h5 class="mb-0">
			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				名額調查表格填寫範例
			</button>
		</h5>
		</div>
		<div id="collapseExample" class="collapse" aria-labelledby="heading" data-parent="#accordion">
			<div class="card-body">
				<table style="border:4px #CFAA9E solid;" cellpadding="12" border='2'>
					<tr>
						<th style="border-right:3px #CFAA9E solid; width:7%">班別</th>
						<th style="width:9%">核定總量</th>
						<th style="border-right:3px #CFAA9E solid; width:9%">上限<br/>（總量10％）</th>
						<th>欲使用名額</th>
						<th>班別間流用</th>
						<th>本地生缺額</th>
						<th style="border-right:3px #CFAA9E solid;">申請<%= year -1910%>增量</th>
						<th>總實際招生名額</th>
					</tr>
					<tr id="bachelor_quota">
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">學士班<br/>(含港二技)</td>
						<td style="border-top:3px #CFAA9E solid;"><input type="number" class="form-control" value="1234" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;" ><input type="number" class="form-control" value="123" disabled></td>
						<td style="border-top:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" value="123" disabled></td>
						<td style="border-top:3px #CFAA9E solid;"><input type="number" class="form-control" value="-23" disabled></td>
						<td style="border-top:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" value="0" disabled></td>
						<td style="border-right:3px #CFAA9E solid;border-top:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" value="0" disabled></td>
						<td style="border-top:3px #CFAA9E solid;"><input type="number" class="form-control" value="100" disabled></td>
					</tr>
					<tr id="master_quota">
						<td style="border-right:3px #CFAA9E solid;">碩士班</td>
						<td><input type="number" class="form-control" value="666" disabled></td>
						<td style="border-right:3px #CFAA9E  solid;"><input type="number" class="form-control" value="66" disabled></td>
						<td><input type="number" min="0" class="form-control" value="66" disabled></td>
						<td><input type="number" class="form-control" value="19" disabled></td>
						<td><input type="number" min="0" class="form-control" value="5" disabled></td>
						<td style="border-right:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" value="0" disabled></td>
						<td><input type="number" class="form-control" value="90" disabled></td>
					</tr>
					<tr id="phd_quota">
						<td style="border-right:3px #CFAA9E solid;">博士班</td>
						<td><input type="number" class="form-control" value="94" disabled></td>
						<td style="border-right:3px #CFAA9E solid;"><input type="number" class="form-control" value="9" disabled></td>
						<td><input type="number" min="0" class="form-control" value="9" disabled></td>
						<td><input type="number" class="form-control" value="4" disabled></td>
						<td><input type="number" min="0" class="form-control" value="0" disabled></td>
						<td style="border-right:3px #CFAA9E solid;"><input type="number" min="0" class="form-control" value="2" disabled></td>
						<td><input type="number" class="form-control" value="15" disabled></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<br />
<br />
<table id="medicine_quota" style="border:4px #D499B9 solid;" cellpadding="10" border='1' align="center">
	<tr>
		<th style="border-right:3px #D499B9 solid;">學士班總實際招生名額</th>
		<th>醫學系個人申請名額</th>
		<th>醫學系聯合分發名額</th>
		<th style="border-right:3px #D499B9 solid;">醫學系單獨招生名額</th>
		<th>其他科系可用名額</th>
	</tr>
	<tr>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;"><input type="number" class="form-control" id="allowTotal_bache_2" disabled></td>
		<td style="border-top:3px #D499B9 solid;"><input type="number" min="0" class="form-control" id="quota_medicine_selection" disabled></td>
		<td style="border-top:3px #D499B9 solid;"><input type="number" min="0" class="form-control" id="quota_medicine_placement" disabled></td>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;"><input type="number" min="0" class="form-control" id="quota_medicine_self" disabled></td>
		<td style="border-top:3px #D499B9 solid;"><input type="number" class="form-control" id="allow_except_medicine" disabled></td>
	</tr>
</table>

<div class="row" style="padding-top: 3%;">
	<div class="form-group col-9 offset-1">
		<label for="comment" style="font-weight: bold;font-size:larger">備註：</label>
		<textarea class="form-control" rows="5" id="description" style=""></textarea>
	</div>

	<!--<div class="col-9 offset-1" style="color:midnightblue">
		EX：學士班現有僑生名額總量為 A 名，擬由碩士班現有僑生名額總量 B 名中流用 5 名至學士班，故學士班僑生名額總量調整為 A+5 名，碩士班僑生名額總量調整為 B-5 名。
	</div>-->

</div>

<hr />


<div class="row" style="font-size:18px">
	<ul>
		<li>依據<a href="https://drive.google.com/file/d/109ZCkb6nMv7GYGeHNhmJqJoaxcR93XCz/view?usp=sharing" target="_blank">教育部110年5月14日臺教高（四）字第1100062047號函（含附件一系統填報說明）</a>辦理。</li>
		<li>請於5月31日（星期一）下午5時前登入本系統填報111學年度各班別僑、港澳生招生名額需求（含招生名額增量申請表），確認無誤並列印系統產生之「111學年度僑、港澳生名額總量調查回覆表」，經單位主管簽章確認後，回傳至本會（電子郵件信箱：<a href="mailto:overseassurvey@gmail.com">overseassurvey@gmail.com</a>，傳真：<a href="tel:+886-49-2911182"> 049-2911182</a>），始完成僑生名額填報作業。</li>
		<li>欲申請僑、港澳生名額增量之學校，務必下載並填列「<a href="https://drive.google.com/file/d/1iYnkbjm0gql-5ivaPHVAxsDX5hXdyHFH/view?usp=sharing" target="_blank">111招生名額增量申請表</a>」，於110年5月31日（星期一）前併同提出增量原因、品質控管策略及配套措施，備文報部核定並副知本會，調查表電子檔併寄至本會電子郵件信箱（<a href="mailto:overseassurvey@gmail.com">overseassurvey@gmail.com</a>）俾利彙整。</li>
	</ul>
</div>

<div class="row">
	<div class="col-3 text-center offset-2">
		<button id="btn-save" data-action="save" class="btn btn-primary">
			儲存
		</button>
	</div>
	<div class="col-3 text-center">
		<button id="btn-confirm" data-action="save" class="btn btn-danger">
			提交並不再修改
		</button>
	</div>
</div>
