<div id="modal-editAccount" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">編輯帳號</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<form>
							<div class="row">
								<div class="form-group col-6">
									<label>帳號</label>
									<input type="text" class="form-control" name="username" disabled>
								</div>
								<div class="col-6"></div>
								<div class="form-group col-6">
									<label>密碼(新密碼)</label>
									<input type="password" class="form-control" name="password">
									<small>若不更改密碼，請勿填寫</small>
								</div>
								<div class="form-group col-6" id="password-check-div">
									<label>再輸入一次</label>
									<input type="password" class="form-control" name="password-second">
									<div class="form-control-feedback hide" id="password-check">密碼不相符</div>
								</div>	
							</div>
							<div class="row">
								<div class="form-group col-6 text-danger">
									<strong>中文姓名*</strong>
									<input type="text" class="form-control required" name="name">
								</div>
								<div class="form-group col-6 text-danger">
									<strong>職稱*</strong>
									<input type="text" class="form-control" name="job-title">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-12 text-danger" id="email-div">
									<strong>電子郵件*</strong>
									<input type="email" class="form-control required" name="email" placeholder="example@ncnu.com">
									<div class="form-control-feedback hide" id="email-warning">請依格式輸入（Ex: example@example.com）</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-6 text-danger">
									<strong>所屬單位*</strong>
									<input type="text" class="form-control required" name="organization">
								</div>
								<div class="form-group col-6 text-danger">
									<strong>聯絡電話*</strong>
									<input type="text" class="form-control required" name="phone">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="store-btn">儲存</button>
				</div>
			</div>
		</div>
	</div>
	<script src="https://rawgit.com/emn178/js-sha256/master/src/sha256.js"></script>