<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">

<h2>學制資訊</h2>
<form id="form-deptInfo">
	<div class="row">
		<div class="form-group col">
			<label for="description">中文備註</label>
			<textarea id="description" type="text" class="form-control" rows="6"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="form-group col">
			<label for="engDescription">英文備註</label>
			<textarea id="engDescription" type="text" class="form-control" rows="6"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<button id="btn-deptInfoSave" data-action="save" type="button" class="btn btn-primary btn-block">儲存</button>
		</div>
		<div class="col-6">
			<button id="btn-deptInfoCommit" data-action="commit" type="button" class="btn btn-danger btn-block">送出</button>
		</div>
	</div>
</form>
<hr>
<div class="row">
	<div class="col-md-7 col-6">
		<h2>系所列表</h2>
	</div>
	<div class="col-md-5 col-6 text-right">
		<div class="form-group">
			<input id="dept-filter-input" class="form-control" type="text" placeholder="搜尋">
		</div>
	</div>
</div>

<table id="dept-list" class="table table-hover sortable">
	<thead>
		<tr>
			<th data-defaultsign='nospan'></th>
			<th>#</th>
			<th>代碼</th>
			<th>名稱</th>
			<th>狀態</th>
			<th>上次編輯者</th>
			<th>上次編輯時間</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<div class="modal fade" id="editDeptInfoModal" tabindex="-1" role="dialog" aria-labelledby="editDeptInfoTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content" id="modal-deptInfo">

			<div class="modal-header">
				<h5 class="modal-title" id="editDeptInfoTitle">
					系所詳細資料
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="container-fluid">
					<form>
						<div class="row">
							<div class="form-group col-6">
								<div class="input-group">
									<span class="input-group-addon">簡章順序</span>
									<input type="text" class="form-control" value="12" id="sortOrder">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<div class="input-group">
									<span class="input-group-addon">系所代碼</span>
									<input type="text" class="form-control" value="10101" id="id" disabled>
								</div>
							</div>
							<div class="form-group col-6">
								<div class="input-group">
									<span class="input-group-addon">讀卡代碼</span>
									<input type="text" class="form-control" value="1001" id="cardCode" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label for="">中文名稱</label>
								<input type="text" class="form-control" value="資訊管理學系" id="title" disabled>
							</div>
							<div class="form-group col-6">
								<label for="">英文名稱</label>
								<input type="text" class="form-control" value="Information Management" id="engTitle" disabled>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label for="">系中文網站網址*</label>
								<input type="text" class="form-control" value="http://www.im.ncnu.edu.tw" id="url">
							</div>
							<div class="form-group col-6">
								<label for="">系英文網站網址</label>
								<input type="text" class="form-control" value="http://www.im.ncnu.edu.tw/en" id="engUrl">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label for="">主要隸屬學群*</label>
								<select class="form-control" id="mainGroup">
									<option>主要學群</option>
								</select>
							</div>
							<div class="form-group col-6">
								<label for="">次要隸屬學群</label>
								<select class="form-control" id="subGroup">
									<option>次要學群</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label for="">招收性別限制*</label>
								<select class="form-control" id="genderLimit">
									<option value="null">男女兼收</option>
									<option value="M">限男</option>
									<option value="F">限女</option>
								</select>
							</div>
							<div class="form-group col-6">
								<label for="">最近一次系所評鑑*</label>
								<select class="form-control" id="evaluation">
									<option>系所評鑑</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col">
								<label for="">選系中文說明*</label>
								<textarea class="form-control" rows="4" id="description">(一)強烈建議中文程度應達「華語文能力測 驗」(TOP)第4級以上。(二)本系課程須閱 讀大量中文古籍與歷史資料，文言文閱讀 能力不佳者，請勿選填本系。</textarea>
							</div>
						</div>
						<div class="row">
							<div class="form-group col">
								<label for="">選系英文說明</label>
								<textarea class="form-control" rows="4" id="engDescription">At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quosdolores et quas molestias excepturi sint, obcaecati cupiditate non provident, </textarea>
							</div>
						</div>
					

						<% if(system == 'twoYear') { -%>
						<%- include deptInfoForm/_selfEnrollmentTwoYear %>
						<% } else { -%>
						<%- include deptInfoForm/_selfEnrollmentOthers %>
						<% } -%>

						<% if(system == 'bachelor') { -%>
						<%- include deptInfoForm/_quotaBachelor %>
						<% } else { -%>
						<%- include deptInfoForm/_quotaOthers %>
						<% } -%>

						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-header bg-primary text-white">
										審查費用
									</div>
									<div class="card-block">
										<form>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" id="hasReviewFee" value="">
													是否需要收審查費用*
												</label>
											</div>
											<hr>
											<div class="form-group">
												<label for="">審查費用中文說明</label>
												<textarea class="form-control" rows="3" id="reviewFeeDetail">，小一能，法減指河相到子任我班，排學一得特其背。太聽叫打期此登兒位；美指持視！然意團。你必世起度色一的來思正長：外了河明文國！環點音己法請：非見例道有的社為名方所進</textarea>
											</div>
											<div class="form-group">
												<label for="">審查費用英文說明</label>
												<textarea class="form-control" rows="3" id="engReviewFeeDetail">le content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like reada</textarea>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-header bg-primary text-white">
										other
									</div>
									<div class="card-block">

											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" id="hasForeignSpecialClass" value="">
													是否招收外生專班*
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" id="hasEngTaught" value="">
													是否為全英文授課*
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" id="hasDisabilities" value="">
													是否招收身障學生*
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" id="hasDisabilities" value="">
													是否招收不具華文基礎學生*
												</label>
											</div>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" id="hasBirthLimit" value="">
													是否限制出生日期*
												</label>
											</div>

										<hr>
										<p>限制出生日期</p>
										<div class="form-inline">
											<div class="input-group mb-2 mr-sm-2 mb-sm-0">
												<input type="text" class="form-control">
												<div class="input-group-addon">以後</div>
											</div>
										</div>
										<div class="form-inline" style="padding-top: 20px;">
											<div class="input-group mb-2 mr-sm-2 mb-sm-0">
												<input type="text" class="form-control">
												<div class="input-group-addon">以前</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr>
						
						<div id="form-reviewItems">
							<!-- 審查項目 -->
						</div>

						<button type="button" class="btn btn-success" id="btn-addReviewItem">新增更多審查項目</button>
					</form>
				</div>
			</div>

			<div class="modal-footer">
				<!-- 「確認送出」後，block 住 form -->
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary">儲存</button>
			</div>

		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>
<script src="js/deptInfo.js"></script>
