<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">

<h2>學制資訊</h2>
<form id="form-deptInfo">
	<div class="row">
		<div class="form-group col">
			<label for="description">中文備註</label>
			<textarea id="description" type="text" class="form-control" rows="6"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="form-group col">
			<label for="engDescription">英文備註</label>
			<textarea id="engDescription" type="text" class="form-control" rows="6"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<button id="btn-deptInfoSave" data-action="save" type="button" class="btn btn-primary btn-block">儲存</button>
		</div>
		<div class="col-6">
			<button id="btn-deptInfoCommit" data-action="commit" type="button" class="btn btn-danger btn-block">送出</button>
		</div>
	</div>
</form>
<hr>
<div class="row">
	<div class="col-md-7 col-6">
		<h2>系所列表</h2>
	</div>
	<div class="col-md-5 col-6 text-right">
		<div class="form-group">
			<input id="dept-filter-input" class="form-control" type="text" placeholder="搜尋">
		</div>
	</div>
</div>

<table id="dept-list" class="table table-hover sortable">
	<thead>
		<tr>
			<th data-defaultsign='nospan'></th>
			<th>#</th>
			<th>代碼</th>
			<th>名稱</th>
			<th>狀態</th>
			<th>上次編輯者</th>
			<th>上次編輯時間</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<div class="modal fade" id="editDeptInfoModal" tabindex="-1" role="dialog" aria-labelledby="editDeptInfoTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="editDeptInfoTitle">
					系所詳細資料
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="container-fluid">
					<form>
						<div class="row">
							<div class="form-group col-6">
								<div class="input-group">
									<span class="input-group-addon">簡章順序</span>
									<input type="text" class="form-control" value="12" id="sort_order">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<div class="input-group">
									<span class="input-group-addon">系所代碼</span>
									<input type="text" class="form-control" value="10101" id="id" disabled>
								</div>
							</div>
							<div class="form-group col-6">
								<div class="input-group">
									<span class="input-group-addon">讀卡代碼</span>
									<input type="text" class="form-control" value="1001" id="card_code" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label for="">中文名稱</label>
								<input type="text" class="form-control" value="資訊管理學系" id="title" disabled>
							</div>
							<div class="form-group col-6">
								<label for="">英文名稱</label>
								<input type="text" class="form-control" value="Information Management" id="eng_title" disabled>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label for="">系中文網站網址*</label>
								<input type="text" class="form-control" value="http://www.im.ncnu.edu.tw" id="url">
							</div>
							<div class="form-group col-6">
								<label for="">系英文網站網址</label>
								<input type="text" class="form-control" value="http://www.im.ncnu.edu.tw/en" id="eng_url">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label for="">主要隸屬學群*</label>
								<select class="form-control" id="main_group">
									<option>主要學群</option>
								</select>
							</div>
							<div class="form-group col-6">
								<label for="">次要隸屬學群</label>
								<select class="form-control" id="sub_group">
									<option>次要學群</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label for="">招收性別限制*</label>
								<select class="form-control" id="gender_limit">
									<option value="null">男女兼收</option>
									<option value="M">限男</option>
									<option value="F">限女</option>
								</select>
							</div>
							<div class="form-group col-6">
								<label for="">最近一次系所評鑑*</label>
								<select class="form-control" id="evaluation">
									<option>系所評鑑</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col">
								<label for="">選系中文說明*</label>
								<textarea class="form-control" rows="4" id="description">(一)強烈建議中文程度應達「華語文能力測 驗」(TOP)第4級以上。(二)本系課程須閱 讀大量中文古籍與歷史資料，文言文閱讀 能力不佳者，請勿選填本系。</textarea>
							</div>
						</div>
						<div class="row">
							<div class="form-group col">
								<label for="">選系英文說明</label>
								<textarea class="form-control" rows="4" id="eng_description">At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quosdolores et quas molestias excepturi sint, obcaecati cupiditate non provident, </textarea>
							</div>
						</div>
						<!-- 僅在 碩、博、二技 時顯示，選擇為學士則消失 -->
						<div class="row rm-bachelor">
							<div class="form-group col-6">
								<label for="">聯招(個人申請)人數（碩博二技專用）</label>
								<input type="text" class="form-control" value="10" id="admission_placement_quota">
							</div>
						</div>
						<!-- 僅在 學士 時顯示，選擇為 碩、博、二技 則消失 -->
						<div class="row rm-master rm-phd rm-twoyear">
							<div class="form-group col-4">
								<label for="">聯招人數（學士專用）</label>
								<input type="text" class="form-control" id="" disabled> <!-- 用算的 -->
							</div>
							<div class="form-group col-1">
								<label>　</label>
								<p class="form-control-static">＝</p>
							</div>
							<div class="form-group col-3">
								<label for="">個人申請人數</label>
								<input type="text" class="form-control" id="admission_selection_quota">
							</div>
							<div class="form-group col-1">
								<label for="">　</label>
								<p class="form-control-static">＋</p>
							</div>
							<div class="form-group col-3">
								<label for="">聯合分發人數</label>
								<input type="text" class="form-control" id="admission_placement_quota">
							</div>
						</div>
					</form>
					<!-- 僅在 學士、碩士、博士 時顯示，二技 則消失 -->
					<div class="row rm-twoyear">
						<div class="col">
							<div class="card">
								<div class="card-header bg-primary text-white">
									單獨招收僑生（自招）（學碩博專用）
								</div>
								<div class="card-block">
									<form>
										<div class="row">
											<div class="col">
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" value="" id="school_has_self_enrollment">
														本校是否可單獨招收僑生
													</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col col-lg-4">
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" value="" id="has_self_enrollment">
														是否單獨招收僑生（自招）
													</label>
												</div>
											</div>
											<div class="col col-lg-4 rm-bachelor">
												<div class="form-group">
													<label for="">自招人數</label>
													<input type="text" class="form-control" id="self_enrollment_quota">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="has_special_class" value="">
														是否開設僑生專班（有自主招生才能開專班）
													</label>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- 僅在 二技 時顯示，選擇為 學、碩、博 則消失 -->
					<div class="row rm-bachelor rm-master rm-phd">
						<div class="col">
							<div class="card">
								<div class="card-header bg-primary text-white">
									單獨招收僑生（自招）（二技專用）
								</div>
								<div class="card-block">
									<form>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="school_has_self_enrollment" value="">
												本校是否可單獨招收僑生
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_RiJian" value="">
												是否開設日間二技學制
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_self_enrollment" value="">
												是否單獨招收僑生（自招）
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_special_class" value="">
												是否開設僑生專班
											</label>
										</div>
										<hr>
										<div class="row">
											<div class="col">
												<div class="form-group">
													<label for="">開設專班文號</label>
													<input type="text" class="form-control" id="approval_no_of_special_class" value="臺教高(四)字第1040109682號">
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label for="">開設專班文件電子檔</label>
													<input type="file" class="form-control">
													<ul id="approval_doc_of_special_class"></ul> <!-- list -->
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-6">
												<div class="form-group">
													<label for="">自招人數</label>
													<input type="text" class="form-control" id="self_enrollment_quota" value="12">
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-header bg-primary text-white">
									審查費用
								</div>
								<div class="card-block">
									<form>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_review_fee" value="">
												是否需要收審查費用*
											</label>
										</div>
										<hr>
										<div class="form-group">
											<label for="">審查費用中文說明</label>
											<textarea class="form-control" rows="3" id="review_fee_detail">，小一能，法減指河相到子任我班，排學一得特其背。太聽叫打期此登兒位；美指持視！然意團。你必世起度色一的來思正長：外了河明文國！環點音己法請：非見例道有的社為名方所進</textarea>
										</div>
										<div class="form-group">
											<label for="">審查費用英文說明</label>
											<textarea class="form-control" rows="3" id="eng_review_fee_detail">le content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like reada</textarea>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-header bg-primary text-white">
									other
								</div>
								<div class="card-block">
									<form>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_foreign_special_class" value="">
												是否招收外生專班*
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_eng_taught" value="">
												是否為全英文授課*
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_disabilities" value="">
												是否招收身障學生*
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_disabilities" value="">
												是否招收不具華文基礎學生*
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_birth_limit" value="">
												是否限制出生日期*
											</label>
										</div>
									</form>
									<hr>
									<p>限制出生日期</p>
									<form class="form-inline">
										<div class="form-check mb-2 mr-sm-2 mb-sm-0">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" id="has_birth_limit">
											</label>
										</div>
										<div class="input-group mb-2 mr-sm-2 mb-sm-0">
											<input type="text" class="form-control">
											<div class="input-group-addon">以後</div>
										</div>
									</form>
									<form class="form-inline" style="padding-top: 20px;">
										<div class="form-check mb-2 mr-sm-2 mb-sm-0">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox">
											</label>
										</div>
										<div class="input-group mb-2 mr-sm-2 mb-sm-0">
											<input type="text" class="form-control">
											<div class="input-group-addon">以前</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<hr>
					
					<form id="form-reviewItems">
						<!-- 審查項目 -->
					</form>

					<button type="button" class="btn btn-success" id="btn-addReviewItem">新增更多審查項目</button>

				</div>
			</div>

			<div class="modal-footer">
				<!-- 「確認送出」後，block 住 form -->
				<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-success">確認送出</button>
				<button type="button" class="btn btn-primary">儲存</button>
			</div>

		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>
<script src="js/deptInfo.js"></script>
