<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css">

<div class="row">
	<div class="col-10 text-left">
		<h2>學制資訊</h2>
	</div>
	<div class="col-2 text-right">
		<button class="btn btn-success">
			列印
		</button>
	</div>
</div>

<div id="form-deptInfo"> 
	<div class="row">
		<div class="form-group col">
			<label for="description">中文備註</label>
			<textarea id="description" type="text" class="form-control" rows="6"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="form-group col">
			<label for="engDescription">英文備註</label>
			<textarea id="engDescription" type="text" class="form-control" rows="6"></textarea>
		</div>
	</div>
	<div class="row">
    <div class="col-12 text-center">
      <button id="btn-deptInfoSave" data-action="save" class="btn btn-primary">
        儲存
      </button>
    </div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-7 col-6">
		<h2>系所列表</h2>
	</div>
	<div class="col-md-5 col-6 text-right">
		<div class="form-group">
			<input id="dept-filter-input" class="form-control" type="text" placeholder="搜尋">
		</div>
	</div>
</div>

<table id="dept-list" class="table table-hover sortable">
	<thead>
		<tr>
			<th data-defaultsign='nospan'></th>
			<th>#</th>
			<th>代碼</th>
			<th>名稱</th>
			<th>上次編輯者</th>
			<th>上次編輯時間</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<div class="modal fade" id="editDeptInfoModal" tabindex="-1" role="dialog" aria-labelledby="editDeptInfoTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content" id="modal-deptInfo">

			<div class="modal-header">
				<h5 class="modal-title" id="editDeptInfoTitle">
					系所詳細資料
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="container-fluid">
					<form>
						<div class="row">
							<div id="sortOrderForm" class="form-group col-6">
								<div class="input-group">
									<span class="input-group-addon">簡章順序</span>
									<input type="text" class="form-control" id="sortOrder">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<div class="input-group">
									<span class="input-group-addon">系所代碼</span>
									<input type="text" class="form-control" id="id" disabled>
								</div>
							</div>
							<div class="form-group col-6">
								<div class="input-group">
									<span class="input-group-addon">讀卡代碼</span>
									<input type="text" class="form-control" id="cardCode" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label class="form-control-label" for="">中文名稱</label>
								<input type="text" class="form-control" id="title" disabled>
							</div>
							<div class="form-group col-6">
								<label class="form-control-label" for="">英文名稱</label>
								<input type="text" class="form-control" id="engTitle" disabled>
							</div>
						</div>
						<div class="row">
							<div id="urlForm" class="form-group col-6">
								<label class="form-control-label" for="">系中文網站網址*</label>
								<input type="text" class="form-control" id="url">
							</div>
							<div id="engUrlForm" class="form-group col-6">
								<label class="form-control-label" for="">系英文網站網址</label>
								<input type="text" class="form-control" id="engUrl">
							</div>
						</div>
						<div class="row">
							<div id="mainGroupForm" class="form-group col-6">
								<label class="form-control-label" for="">主要隸屬學群*</label>
								<select class="form-control" id="mainGroup">
								</select>
							</div>
							<div id="subGroupForm" class="form-group col-6">
								<label class="form-control-label" for="">次要隸屬學群</label>
								<select class="form-control" id="subGroup">
								</select>
							</div>
						</div>
						<div class="row">
							<div id="genderLimitForm" class="form-group col-6">
								<label class="form-control-label" for="">招收性別限制*</label>
								<select class="form-control" id="genderLimit">
									<option value="">男女兼收</option>
									<option value="M">限男</option>
									<option value="F">限女</option>
								</select>
							</div>
							<div id="evaluationForm" class="form-group col-6">
								<label class="form-control-label" for="">最近一次系所評鑑*</label>
								<select class="form-control" id="evaluation">
									<option>系所評鑑</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div id="descriptionForm" class="form-group col">
								<label class="form-control-label" for="">選系中文說明*</label>
								<textarea class="form-control" rows="4" id="description"></textarea>
							</div>
						</div>
						<div class="row">
							<div id="engDescriptionForm" class="form-group col">
								<label class="form-control-label" for="">選系英文說明</label>
								<textarea class="form-control" rows="4" id="engDescription"></textarea>
							</div>
						</div>
					

						<% if(system == 'twoYear') { -%>
						<%- include deptInfoForm/_selfEnrollmentTwoYear %>
						<% } else { -%>
						<%- include deptInfoForm/_selfEnrollmentOthers %>
						<% } -%>

						<% if(system == 'bachelor') { -%>
						<%- include deptInfoForm/_quotaBachelor %>
						<% } else { -%>
						<%- include deptInfoForm/_quotaOthers %>
						<% } -%>
						
						<div id="review-div">
							<div class="row">
								<div class="col">
									<div class="card">
										<div class="card-header bg-primary text-white">
											審查費用
										</div>
										<div class="card-block">
											<form>
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasReviewFee" value="">
														是否需要收審查費用*
													</label>
												</div>
												<hr>
												<div id="reviewFeeDetailForm" class="form-group">
													<label class="form-control-label" for="">審查費用中文說明</label>
													<textarea class="form-control" rows="3" id="reviewFeeDetail"></textarea>
												</div>
												<div id="engReviewFeeDetailForm" class="form-group">
													<label class="form-control-label" for="">審查費用英文說明</label>
													<textarea class="form-control" rows="3" id="engReviewFeeDetail"></textarea>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col">
									<div class="card">
										<div class="card-header bg-primary text-white">
											other
										</div>
										<div class="card-block">
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasForeignSpecialClass" value="">
														是否招收外生專班*
													</label>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasEngTaught" value="">
														是否為全英文授課*
													</label>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasDisabilities" value="">
														是否招收身障學生*
													</label>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasBuHweiHwaWen" value="">
														是否招收不具華文基礎學生*
													</label>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasBirthLimit" value="">
														是否限制出生日期*
													</label>
												</div>

											<hr>
											<p>限制出生日期</p>
											<div class="form-inline">
												<div id="birthLimitAfterForm" class="input-group mb-2 mr-sm-2 mb-sm-0">
													<input type="text" class="form-control datepicker" id="birthLimitAfter">
													<div class="input-group-addon">以後</div>
												</div>
											</div>
											<div class="form-inline" style="padding-top: 20px;">
												<div id="birthLimitBeforeForm" class="input-group mb-2 mr-sm-2 mb-sm-0">
													<input type="text" class="form-control datepicker" id="birthLimitBefore">
													<div class="input-group-addon">以前</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						

							<hr>
							<div id="form-reviewItems">
								<div v-for="type in reviewItemsTypes">
									<div class="card">
										<div class="card-header bg-primary text-white">
												{{type.name}}
										</div>
										<div class="card-block">
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
														<div class="input-group">
															<span class="input-group-addon">
																<input type="checkbox" v-model="type.needed" v-bind:disabled="!type.modifiable">
															</span>
															<input
															type="text"
															class="form-control"
															style="background-color: white;"
															v-bind:value="type.name" 
															disabled="disabled">
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
														<div class="input-group">
															<span class="input-group-addon">
																<input type="checkbox" v-model="type.required" v-bind:disabled="!type.modifiable">
															</span>
															<input
															type="text"
															class="form-control"
															style="background-color: white;"
															value="是否為必備" 
															disabled="disabled">
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-12">
													<div class="form-group" v-bind:class="{'has-danger': type.error == true}">
														<label class="form-control-label" for="">審查項目中文說明</label>
														<textarea class="form-control" rows="3" v-model="type.description"></textarea>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-12">
													<div class="form-group">
														<label for="">審查項目英文說明</label>
														<textarea class="form-control" rows="3" v-model="type.eng_description"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr>

						<div class="row">
							<div id="memoForm" class="form-group col">
								<label class="form-control-label" for="">Memo</label>
								<textarea class="form-control" rows="4" id="memo"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="deptDetailSave">儲存</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">離開</button>
			</div>

		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="js/deptInfo.js"></script>
