<link rel="stylesheet" href="css/quotaDistribution.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">
<div class="row">
	<div class="col-12">
		<h3 class="float-left"><%= system %>名額分配</h3>
		<span id="lastEditionInfo" class='float-right'>
			上次編輯：<span class="who"></span><br /><span class="when"></span>
		</span>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">107 總量 * 10%</small>
			<input type="text" class="form-control last_year_admission_amount quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">107 本地生招生缺額</small>
			<input type="text" class="form-control last_year_surplus_admission_quota quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">108 擴增名額</small>
			<input type="text" class="form-control ratify_expanded_quota quota" disabled>
		</div>
	</div>
	<span class="operator">＝</span>
	<div class="col-3">
		<div class="form-group">
			<small id="" class="form-text text-muted">108 僑生招生總量</small>
			<input type="text" class="form-control allowTotal quota" disabled>
		</div>
	</div>
</div>
<!-- 碩博only -->
<div class="row masterOnly phdOnly hide">
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">108 聯招小計</small>
			<input type="text" class="form-control admissionSum quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">108 單招小計</small>
			<input type="text" class="form-control selfSum quota" disabled>
		</div>
	</div>
	<span class="operator">＝</span>
	<div class="col-3">
		<div class="form-group">
			<small id="" class="form-text text-muted">總計</small>
			<input type="text" class="form-control quota wantTotal" disabled>
		</div>
	</div>
</div>
<!-- 學only -->
<div class="row bacheOnly hide">
	<div style="width:9%; margin-left:15px"><!--class="col-1"-->
		<div class="form-group">
			<small class="form-text text-muted">學士班個人申請</small>
			<input type="text" class="form-control bg-info quota admission_selection_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div style="width:9%;"> <!--class="col-1"-->
		<div class="form-group">
			<small id="" class="form-text text-muted">學士班聯合分發</small>
			<input type="text" class="form-control bg-info quota admission_placement_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div style="width:9%;"> <!--class="col-1"-->
		<div class="form-group">
			<small id="" class="form-text text-muted">港二技</small>
			<input type="text" class="form-control bg-info quota another_department_admission_selection_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div style="width:8%;"> <!--class="col-1"-->
		<div class="form-group">
			<small id="" class="form-text text-danger">單招*</small>
			<input type="number" min="0" class="form-control bg-success quota self_enrollment_quota required">
		</div>
	</div>
	<span class="operator">＋</span>
	<div style="width:8%;"> <!--class="col-1"-->
		<div class="form-group">
			<small id="" class="form-text text-muted">港二技單招</small>
			<input type="text" class="form-control bg-success quota another_department_self_enrollment_quota" disabled>
		</div>
	</div>
	<span class="operator">＝</span>
	<div class="col-3">
		<div class="form-group">
			<small id="" class="form-text text-muted">總計</small>
			<input type="text" class="form-control quota wantTotal" disabled>
		</div>
	</div>
</div>
<!-- 二only -->
<div class="row twoYearOnly hide">
	<div style="width:9%; margin-left:15px"> <!--class="col-1"-->
		<div class="form-group">
			<small class="form-text text-muted">學士班個人申請</small>
			<input type="text" class="form-control bg-info quota another_department_admission_selection_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div style="width:9%;"> <!--class="col-1"-->
		<div class="form-group">
			<small id="" class="form-text text-muted">學士班聯合分發</small>
			<input type="text" class="form-control bg-info quota another_department_admission_placement_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div style="width:9%;"> <!--class="col-1"-->
		<div class="form-group">
			<small id="" class="form-text text-muted">港二技</small>
			<input type="text" class="form-control bg-info quota admission_selection_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div style="width:8%;"> <!--class="col-1"-->
		<div class="form-group">
			<small id="" class="form-text text-muted">單招</small>
			<input type="text" class="form-control bg-success quota another_department_self_enrollment_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div style="width:8%;"> <!--class="col-1"-->
		<div class="form-group">
			<small id="" class="form-text text-muted">港二技單招</small>
			<input type="text" class="form-control bg-success quota self_enrollment_quota" disabled>
		</div>
	</div>
	<span class="operator">＝</span>
	<div class="col-3">
		<div class="form-group">
			<small id="" class="form-text text-muted">總計</small>
			<input type="text" class="form-control quota wantTotal" disabled>
		</div>
	</div>
</div>
<!-- 學二only -->
<div class="row bacheOnly twoYearOnly hide">
	<span>　</span>
	<div style="width:33%;"> <!--class="col-3 "-->
		<div class="form-group">
			<small id="" class="form-text text-muted">108 聯招小計</small>
			<input type="text" class="form-control bg-info quota admissionSum" disabled>
		</div>
	</div>
	<span>　　　</span>
	<div style="width:19%;"> <!--class="col-2"-->
		<div class="form-group">
			<small id="" class="form-text text-muted">108 單招小計</small>
			<input type="text" class="form-control bg-success quota selfSum" disabled>
		</div>
	</div>
</div>
<div class="row mt-2">
	<div class="col-12">
		<h5>校單招與否：<span id="schoolHasSelf" class="text-danger"></span></h5>
		<h6 class="text-danger twoYearOnly hide" style="background-color: lightgoldenrodyellow; font-weight: bold; font-size: 25px; letter-spacing: 4px;margin-top: 2%;">
			*港二技 系所「是否單招」與「單招人數」要到系所資料裡做修改</h6>
	</div>
</div>
<!-- 學士only -->
<div class="row mt-5 bacheOnly hide">
	<div class="col-12">
		<h3>系所列表</h3>
		<table id="table-bacheDeptList" class="table table-hover sortable">
			<thead>
				<tr>
					<th>#</th>
					<th>代碼</th>
					<th>名稱</th>
					<th style="width: 150px;">個人申請名額</th>
					<th style="width: 125px;">餘額流用 <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="個人申請分發後之餘額是否流用至聯合分發？若要流用，請勾選"></i></th>
					<th style="width: 150px;">聯合分發名額</th>
					<th style="width: 100px;">參考值 <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="聯合分發名額數不得低於參考值"></i></th>
					<th style="width: 150px;">減招原因</th>
					<th style="width: 100px;">是否單招</th>
					<th style="width: 100px;">小計</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr class="dept">
					<td>0</td>
					<td>5HW01</td>
					<td>
						<div>歷史學系</div>
						<div>history</div>
					</td>
					<td><input type="number" min="0" class="form-control editableQuota required admission_selection_quota" data-type="admission_selection_quota" value="0" /></td>
					<td><input type="number" min="0" class="form-control editableQuota required admission_placement_quota" data-type="admission_placement_quota" value="0" /></td>
					<td class="reference text-center" data-val="">0</td>
					<td><textarea class="form-control decrease_reason_of_admission_placement" cols="50" rows="1" disabled="true"></textarea></td>
					<td class="text-center"><input type="checkbox" class="isSelf" checked="ture" ></td>
					<td><input type="number" min="0" class="form-control editableQuota required self_enrollment_quota" data-type="self_enrollment_quota" value="0" /></td>
					<td class="total text-center">12</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</div>
<!-- 港二技only -->
<div class="row mt-5 twoYearOnly hide">
	<div class="col-12">
		<h3>系所列表</h3>
		<table id="table-twoYearDeptList" class="table table-hover sortable">
			<thead>
				<tr>
					<th>#</th>
					<th>代碼</th>
					<th>名稱</th>
					<th style="width: 150px" class="text-center">聯招名額</th>
					<th style="width: 100px" class="text-center">是否單招</th>
					<th style="width: 150px" class="text-center">單招名額</th>
					<th style="width: 150px" class="text-center">小計</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr class="dept" data-id="${id}">
					<td>${sort_order}</td>
					<td>${id}</td>
					<td>
						<div>${title}</div>
						<small>${eng_title}</small>
					</td>
					<td><input type="number" min="0" class="form-control editableQuota required admission_selection_quota" data-type="admission_selection_quota" value="${+admission_selection_quota}" /></td>
					<td class="text-center"><span class="isSelf" data-type="self_enrollment_quota">${has_self_enrollment ? '是' : '否'}</span></td>
					<td><input type="number" min="0" class="form-control editableQuota ${has_self_enrollment ? 'required' : ''} self_enrollment_quota" data-type="self_enrollment_quota" value="${+self_enrollment_quota}" disabled="${has_self_enrollment}" /></td>
					<td class="total text-center">${total}</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</div>
<!-- 碩博only -->
<div class="row mt-5 masterOnly phdOnly hide">
	<div class="col-12">
		<h3>系所列表</h3>
		<table id="table-masterPhdDeptList" class="table table-hover sortable">
			<thead>
				<tr>
					<th>#</th>
					<th>代碼</th>
					<th>名稱</th>
					<th style="width: 150px">聯招名額數</th>
					<th style="width: 100px;">是否單招</th>
					<th style="width: 150px">單招名額</th>
					<th style="width: 150px" class="text-center">小計</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr class="dept" data-id="${id}">
					<td>${sort_order}</td>
					<td>${id}</td>
					<td>
						<div>${title}</div>
						<small>${eng_title}</small>
					</td>
					<td><input type="number" class="form-control editableQuota required admission_selection_quota" value="${admission_selection_quota}" /></td>
					<td><input type="number" class="form-control editableQuota required self_enrollment_quota" value="${self_enrollment_quota}" /></td>
					<td class="total text-center">${total}</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</div>

<% if(system != '港二技') { -%>
<div class="row">
	<div class="col-12 text-center">
		<button id="btn-save" data-action="save" class="btn btn-primary">
			儲存
		</button>
	</div>
</div>
<% } -%>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>
