<link rel="stylesheet" href="css/quotaDistribution.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">
<div class="row">
	<div class="col-12">
		<h3 class="float-left"><%= system %>名額分配</h3>
		<span id="badge-status" class="badge"></span>
		<span id="lastEditionInfo" class='float-right'>
			上次編輯：<span class="who"></span><br /><span class="when"></span>
		</span>
	</div>
</div>
<hr />
<div class="row mb-5 hide" id="reviewInfo">
	<div class="col-12">
		<div class="card">
			<h3 class="card-header bg-warning text-white">審閱建議</h3>
			<div class="card-block">
				<h4 class="card-title">
					<div class="input-group" style="width: 200px">
						<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
						<input id="reviewBy" type="text" class="form-control" value="YuerLeee" disabled>
					</div>
				</h4>
				<small id="reviewAt" class="form-text text-muted"></small>
				<p id="reviewMemo" class="card-text">Very good!</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="form-group">
			<small id="" class="form-text text-muted">本年度可招生總量</small>
			<input type="text" class="form-control allowTotal quota" disabled>
		</div>
	</div>
	<span class="operator">＝</span>
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">去年招生名額 * 10%</small>
			<input type="text" class="form-control last_year_admission_amount quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">去年本地生招生缺額數</small>
			<input type="text" class="form-control last_year_surplus_admission_quota quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">本年度教育部核准擴增名額</small>
			<input type="text" class="form-control ratify_expanded_quota quota" disabled>
		</div>
	</div>
</div>
<!-- 碩博only -->
<div class="row masterOnly phdOnly hide">
	<div class="col-3">
		<div class="form-group">
			<small id="" class="form-text text-muted">本年度欲招募總量</small>
			<input type="text" class="form-control quota wantTotal" disabled>
		</div>
	</div>
	<span class="operator">＝</span>
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">本年度聯招小計</small>
			<input type="text" class="form-control admissionSum quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">本年度自招小計</small>
			<input type="text" class="form-control selfSum quota" disabled>
		</div>
	</div>
</div>
<!-- 學only -->
<div class="row bacheOnly hide">
	<div class="col-3">
		<div class="form-group">
			<small id="" class="form-text text-muted">本年度欲招募總量</small>
			<input type="text" class="form-control quota wantTotal" disabled>
		</div>
	</div>
	<span class="operator">＝</span>
	<div class="col-1">
		<div class="form-group">
			<small class="form-text text-muted">學士班個人申請</small>
			<input type="text" class="form-control bg-info quota admission_selection_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-1">
		<div class="form-group">
			<small id="" class="form-text text-muted">學士班聯合分發</small>
			<input type="text" class="form-control bg-info quota admission_placement_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-1">
		<div class="form-group">
			<small id="" class="form-text text-muted">港二技個人申請</small>
			<input type="text" class="form-control bg-info quota another_department_admission_selection_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-1">
		<div class="form-group">
			<small id="" class="form-text text-danger">學士班自招*</small>
			<input type="number" min="0" class="form-control bg-success quota self_enrollment_quota required">
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-1">
		<div class="form-group">
			<small id="" class="form-text text-muted">港二技自招</small>
			<input type="text" class="form-control bg-success quota another_department_self_enrollment_quota" disabled>
		</div>
	</div>
</div>
<!-- 二only -->
<div class="row twoYearOnly hide">
	<div class="col-3">
		<div class="form-group">
			<small id="" class="form-text text-muted">本年度欲招募總量</small>
			<input type="text" class="form-control quota wantTotal" disabled>
		</div>
	</div>
	<span class="operator">＝</span>
	<div class="col-1">
		<div class="form-group">
			<small class="form-text text-muted">學士班個人申請</small>
			<input type="text" class="form-control bg-info quota another_department_admission_selection_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-1">
		<div class="form-group">
			<small id="" class="form-text text-muted">學士班聯合分發</small>
			<input type="text" class="form-control bg-info quota another_department_admission_placement_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-1">
		<div class="form-group">
			<small id="" class="form-text text-muted">港二技個人申請</small>
			<input type="text" class="form-control bg-info quota admission_selection_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-1">
		<div class="form-group">
			<small id="" class="form-text text-muted">學士班自招</small>
			<input type="text" class="form-control bg-success quota another_department_self_enrollment_quota" disabled>
		</div>
	</div>
	<span class="operator">＋</span>
	<div class="col-1">
		<div class="form-group">
			<small id="" class="form-text text-muted">港二技自招</small>
			<input type="text" class="form-control bg-success quota self_enrollment_quota" disabled>
		</div>
	</div>
</div>
<!-- 學二only -->
<div class="row bacheOnly twoYearOnly hide">
	<span>　</span>
	<div class="col-3 offset-3">
		<div class="form-group">
			<small id="" class="form-text text-muted">本年度聯招小計</small>
			<input type="text" class="form-control bg-info quota admissionSum" disabled>
		</div>
	</div>
	<span>　　　</span>
	<div class="col-2">
		<div class="form-group">
			<small id="" class="form-text text-muted">本年度自招小計</small>
			<input type="text" class="form-control bg-success quota selfSum" disabled>
		</div>
	</div>
</div>
<!-- 學士only -->
<div class="row mt-5 bacheOnly hide">
	<div class="col-12">
		<h3>系所列表</h3>
		<table id="table-bacheDeptList" class="table table-hover sortable">
			<thead>
				<tr>
					<th>#</th>
					<th>代碼</th>
					<th>名稱</th>
					<th style="width: 150px;">個人申請人數</th>
					<th style="width: 150px;">聯合分發人數</th>
					<th style="width: 100px;">參考值 <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="聯合分發人數不得低於參考值"></i></th>
					<th style="width: 150px;">減招原因</th>
					<th style="width: 100px;">是否自招</th>
					<th style="width: 100px;">系所總量</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr class="dept">
					<td>0</td>
					<td>5HW01</td>
					<td>
						<div>歷史學系</div>
						<div>history</div>
					</td>
					<td><input type="number" min="0" class="form-control editableQuota required admission_selection_quota" data-type="admission_selection_quota" value="0" /></td>
					<td><input type="number" min="0" class="form-control editableQuota required admission_placement_quota" data-type="admission_placement_quota" value="0" /></td>
					<td class="reference text-center" data-val="">0</td>
					<td><textarea class="form-control decrease_reason_of_admission_placement" cols="50" rows="1" disabled="true"></textarea></td>
					<td class="text-center"><input type="checkbox" class="isSelf" checked="ture" ></td>
					<td><input type="number" min="0" class="form-control editableQuota required self_enrollment_quota" data-type="self_enrollment_quota" value="0" /></td>
					<td class="total text-center">12</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</div>
<!-- 港二技only -->
<div class="row mt-5 twoYearOnly hide">
	<div class="col-12">
		<h3>系所列表</h3>
		<table id="table-twoYearDeptList" class="table table-hover sortable">
			<thead>
				<tr>
					<th>#</th>
					<th>代碼</th>
					<th>名稱</th>
					<th style="width: 150px">聯招人數</th>
					<th style="width: 100px">是否自招</th>
					<th style="width: 150px">自招人數</th>
					<th style="width: 150px" class="text-center">系所總量</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr class="dept" data-id="${id}">
					<td>${sort_order}</td>
					<td>${id}</td>
					<td>
						<div>${title}</div>
						<small>${eng_title}</small>
					</td>
					<td><input type="number" min="0" class="form-control editableQuota required admission_selection_quota" data-type="admission_selection_quota" value="${+admission_selection_quota}" /></td>
					<td class="text-center"><span class="isSelf" data-type="self_enrollment_quota">${has_self_enrollment ? '是' : '否'}</span></td>
					<td><input type="number" min="0" class="form-control editableQuota ${has_self_enrollment ? 'required' : ''} self_enrollment_quota" data-type="self_enrollment_quota" value="${+self_enrollment_quota}" disabled="${has_self_enrollment}" /></td>
					<td class="total text-center">${total}</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</div>
<!-- 碩博only -->
<div class="row mt-5 masterOnly phdOnly hide">
	<div class="col-12">
		<h3>系所列表</h3>
		<table id="table-masterPhdDeptList" class="table table-hover sortable">
			<thead>
				<tr>
					<th>#</th>
					<th>代碼</th>
					<th>名稱</th>
					<th style="width: 150px">個人申請人數</th>
					<th style="width: 100px;">是否自招</th>
					<th style="width: 150px">自招人數</th>
					<th style="width: 150px" class="text-center">系所總量</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr class="dept" data-id="${id}">
					<td>${sort_order}</td>
					<td>${id}</td>
					<td>
						<div>${title}</div>
						<small>${eng_title}</small>
					</td>
					<td><input type="number" class="form-control editableQuota required admission_selection_quota" value="${admission_selection_quota}" /></td>
					<td><input type="number" class="form-control editableQuota required self_enrollment_quota" value="${self_enrollment_quota}" /></td>
					<td class="total text-center">${total}</td>
				</tr> -->
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-12 text-center">
		<button id="btn-save" data-action="save" class="btn btn-success">
			儲存
		</button>
		<button id="btn-commit" data-action="commit" class="btn btn-primary">
			送出
		</button>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>
