<!-- 僅在 碩、博、二技 時顯示 -->
<div class="row" style="display: none">
	<div class="form-group col-6" id="admissionSelectionQuotaForm">
		<label class="form-control-label" for="" id="quotaOtherLabel"></label>
		<input type="text" class="form-control" id="admissionSelectionQuota" disabled>
	</div>
	<div class="form-group col-6" id="selfEnrollmentQuotaForm" style="display:none;">
		<label class="form-control-label" for="">單獨招收僑生或港澳生（單招）人數</label>
		<input type="text" class="form-control" id="selfEnrollmentQuota">
	</div>
</div>
