<!-- 僅在 學士 時顯示 -->
<div class="row">
	<div class="form-group col-4">
		<label for="">聯招人數（學士專用）</label>
		<input type="text" class="form-control" id="admissionTotalQuota" disabled>
	</div>
	<div class="form-group col-1">
		<label>　</label>
		<p class="form-control-static">＝</p>
	</div>
	<div id="admissionSelectionQuotaForm" class="form-group col-3">
		<label class="form-control-label" for="">個人申請人數</label>
		<input type="text" class="form-control" id="admissionSelectionQuota">
	</div>
	<div class="form-group col-1">
		<label for="">　</label>
		<p class="form-control-static">＋</p>
	</div>
	<div id="admissionPlacementQuotaForm" class="form-group col-3">
		<label class="form-control-label" for="">聯合分發人數</label>
		<input type="text" class="form-control" id="admissionPlacementQuota">
	</div>
</div>
