<!-- 僅在 二技 時顯示 -->
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header bg-primary text-white">
				單獨招收僑生（自招）（二技專用）
			</div>
			<div class="card-block">
				<form>
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" id="school_has_self_enrollment" value="">
							本校是否可單獨招收僑生
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" id="has_RiJian" value="">
							是否開設日間二技學制
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" id="has_self_enrollment" value="">
							是否單獨招收僑生（自招）
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" id="has_special_class" value="">
							是否開設僑生專班
						</label>
					</div>
					<hr>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label for="">開設專班文號</label>
								<input type="text" class="form-control" id="approval_no_of_special_class" value="臺教高(四)字第1040109682號">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="">開設專班文件電子檔</label>
								<input type="file" class="form-control">
								<ul id="approval_doc_of_special_class"></ul> <!-- list -->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label for="">自招人數</label>
								<input type="text" class="form-control" id="self_enrollment_quota" value="12">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
