<!-- 僅在 學士、碩士、博士 時顯示 -->
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-header bg-primary text-white">
				單獨招收僑生（自招）
			</div>
			<div class="card-block">
				<form>
					<div class="row">
						<div class="col">
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox" id="schoolHasSelfEnrollment" disabled>
									本校是否可單獨招收僑生（自招）（若是，請勾選）
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-lg-4">
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox" id="hasSelfEnrollment">
									是否單獨招收僑生（自招）（若是，請勾選）
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-check">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox" id="hasSpecialClass">
									是否開設僑生專班（有自招才能開專班）（若是，請勾選）
								</label>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
