.link-item {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 14px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	transition: all .5s;
	text-align: center;
}

.link-item:hover {
	border-color: #0275d8;
	color: #0275d8;
}
