<div class="container" id="page-regulation">
	<div class="row">
		<div class="col-lg-12 title active" data-content="schoolForm">
			<i class="fa fa-chevron-right icon-arrow" aria-hidden="true"></i>
			<span data-i18n="regulation.title.schoolForm"><!-- 學校資料設定 --></span>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11 offset-lg-1">
			<div id="schoolForm">
				 <div class="form-group">
					<label for="phone" data-i18n="regulation.schoolForm.phone"><!-- 學校聯絡電話 --></label>
					<input type="text" class="form-control" id="phone">
				</div>
				<div class="form-group">
					<label for="fax" data-i18n="regulation.schoolForm.fax"><!-- 學校傳真電話 --></label>
					<input type="text" class="form-control" id="fax">
				</div>
				<div class="form-group">
					<label for="url" data-i18n="regulation.schoolForm.url"><!-- 學校網站網址 --></label>
					<input type="text" class="form-control" id="url">
				</div>
				<div class="form-group">
					<label for="systems" data-i18n="regulation.schoolForm.systems"><!-- 學制資料 --></label>
					<input type="text" class="form-control" id="systems">
				</div>
				<div class="form-group">
					<label for="scholarshipUrl" data-i18n="regulation.schoolForm.scholarshipUrl"><!-- 僑生專屬獎學金說明網址 --></label>
					<input type="text" class="form-control" id="scholarshipUrl">
				</div>
				<div class="form-group">
					<label for="fiveYearRule" data-i18n="regulation.schoolForm.fiveYearRule"><!-- [中五]給海聯看的學則 --></label>
					<input type="text" class="form-control" id="fiveYearRule">
				</div>
				<div class="form-group">
					<label for="approveNo" data-i18n="regulation.schoolForm.approveNo"><!-- 自招核定文號 --></label>
					<input type="text" class="form-control" id="approveNo">
				</div>
				<div class="form-group">
					<label for="chTitle" data-i18n="regulation.schoolForm.locale.ch.title"><!-- 學校名稱(中文) --></label>
					<input type="text" class="form-control" id="chTitle">
				</div>
				<div class="form-group">
					<label for="enTitle" data-i18n="regulation.schoolForm.locale.en.title"><!-- 學校名稱(英文) --></label>
					<input type="text" class="form-control" id="enTitle">
				</div>
				<div class="form-group">
					<label for="chAddress" data-i18n="regulation.schoolForm.locale.ch.address"><!-- 學校地址(中文) --></label>
					<input type="text" class="form-control" id="chAddress">
				</div>
				<div class="form-group">
					<label for="enAddress" data-i18n="regulation.schoolForm.locale.en.address"><!-- 學校地址(英文) --></label>
					<input type="text" class="form-control" id="enAddress">
				</div>
				<div class="form-group">
					<label for="chOrgnization" data-i18n="regulation.schoolForm.locale.ch.orgnization"><!-- 學校負責僑生事務的承辦單位(中文) --></label>
					<input type="text" class="form-control" id="chOrgnization">
				</div>
				<div class="form-group">
					<label for="enOrgnization" data-i18n="regulation.schoolForm.locale.en.orgnization"><!-- 學校負責僑生事務的承辦單位(英文) --></label>
					<input type="text" class="form-control" id="enOrgnization">
				</div>
				<div class="form-group">
					<label for="chScholarshipInfo" data-i18n="regulation.schoolForm.locale.ch.scholarshipInfo"><!-- 獎學金說明(中文) --></label>
					<input type="text" class="form-control" id="chScholarshipInfo">
				</div>
				<div class="form-group">
					<label for="enScholarshipInfo" data-i18n="regulation.schoolForm.locale.en.scholarshipInfo"><!-- 獎學金說明(英文) --></label>
					<input type="text" class="form-control" id="enScholarshipInfo">
				</div>
				<div class="form-group">
					<label for="chScholarshipDept" data-i18n="regulation.schoolForm.locale.ch.scholarshipDept"><!-- 獎學金負責單位(中文) --></label>
					<input type="text" class="form-control" id="chScholarshipDept">
				</div>
				<div class="form-group">
					<label for="enScholarshipDept" data-i18n="regulation.schoolForm.locale.en.scholarshipDept"><!-- 獎學金負責單位(英文) --></label>
					<input type="text" class="form-control" id="enScholarshipDept">
				</div>
				<div class="form-group">
					<label for="chDormInfo" data-i18n="regulation.schoolForm.locale.ch.dormInfo"><!-- 宿舍說明(中文) --></label>
					<input type="text" class="form-control" id="chDormInfo">
				</div>
				<div class="form-group">
					<label for="enDormInfo" data-i18n="regulation.schoolForm.locale.en.dormInfo"><!-- 宿舍說明(英文) --></label>
					<input type="text" class="form-control" id="enDormInfo">
				</div>
				<div class="form-group row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-4">
								<input id="isScholarship" class="" type="checkbox" />
								<label for="isScholarship" class="col-form-label" data-i18n="regulation.schoolForm.isScholarship"><!-- 是否提供獎學金 --></label>
							</div>

							<div class="col-4">
								<input id="fiveYearAllowed" class="" type="checkbox" />
								<label for="fiveYearAllowed" class="col-form-label" data-i18n="regulation.schoolForm.fiveYearAllowed"><!-- [中五]我可以招呢 --></label>
							</div>

							<div class="col-4">
								<input id="fiveYearPrepare" class="" type="checkbox" />
								<label for="fiveYearPrepare" class="col-form-label" data-i18n="regulation.schoolForm.fiveYearPrepare"><!-- [中五]我準備招了喔 --></label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div id="buttonRow" class="col-md-12">
						<button id="btn-reset" class="btn btn-default" data-i18n="global.resetBtn"><!-- 重設 --></button>
						<button id="btn-save" class="btn btn-primary" data-i18n="global.saveBtn"><!-- 儲存 --></button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 title" data-content="deptForm">
			<i class="fa fa-chevron-right icon-arrow" aria-hidden="true"></i>
			<span data-i18n="regulation.title.deptForm"><!-- 系所資料設定 --></span>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11 offset-lg-1">
			<div id="deptForm" style="display: none">
				<button id="btn-addDept" class="btn btn-primary" data-toggle="modal" data-target="#modal-addDept">
					<i class="fa fa-plus" aria-hidden="true"></i>
					<span data-i18n="regulation.deptForm.addDept"></span>
				</button>
				<table id="table-deptList" class="table table-bordered">
					<thead>
						<tr>
							<th rowspan="2">類組</th>
							<th rowspan="2">系所名稱</th>
							<th colspan="3">招生名額</th>
							<th rowspan="2">備註</th>
							<th rowspan="2" style="width: 50px;"></th>
							<th rowspan="2" style="width: 50px;"></th>
						</tr>
						<tr>
							<th>聯合分發</th>
							<th>個人申請</th>
							<th>自招</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>第一類組</td>
							<td>資訊管理學系</td>
							<td>10</td>
							<td>1</td>
							<td>-</td>
							<td></td>
							<td>
								<button class="btn btn-default btn-editDept" data-toggle="modal" data-target="#modal-editDept"><i class="fa fa-pencil" aria-hidden="true"></i></button>
							</td>
							<td>
								<button class="btn btn-default btn-delDept"><i class="fa fa-trash" aria-hidden="true"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="modal-addDept" class="modal fade">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="regulation.deptForm.addDeptModal.title"><!-- 新增系所 --></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">
					<label for="deptName" class="col-2 col-form-label" data-i18n="regulation.deptForm.addDeptModal.deptName"><!-- 系所名稱 --></label>
					<div class="col-10">
						<input id="deptName" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group row">
					<label for="editor" class="col-2 col-form-label" data-i18n="regulation.deptForm.addDeptModal.editor"><!-- 編輯者 --></label>
					<div class="col-10">
						<input id="editor" class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-i18n="global.addBtn"><!-- 新增 --></button>
			</div>
		</div>
	</div>
</div>

<div id="modal-editDept" class="modal fade">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="regulation.deptForm.editDeptModal.title"><!-- 編輯系所 --></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="id" data-i18n="regulation.deptForm.editDeptModal.id"><!-- 系所代碼 --></label>
					<input type="text" class="form-control" id="id" disabled>
				</div>
				<div class="form-group">
					<label for="oldcode" data-i18n="regulation.deptForm.editDeptModal.oldcode"><!-- 讀卡代碼 --></label>
					<input type="text" class="form-control" id="oldcode" disabled>
				</div>
				<div class="form-group">
					<label for="lastoffer" data-i18n="regulation.deptForm.editDeptModal.lastoffer"><!-- 去年聯合分發錄取名額 --></label>
					<input type="text" class="form-control" id="lastoffer" disabled>
				</div>
				<div class="form-group">
					<label for="reason" data-i18n="regulation.deptForm.editDeptModal.reason"><!-- 減招原因 --></label>
					<input type="text" class="form-control" id="reason">
				</div>
				<div class="form-group">
					<label for="lastyearamount" data-i18n="regulation.deptForm.editDeptModal.lastyearamount"><!-- 去年聯合分發名額（只有學士班有聯合分發） --></label>
					<input type="text" class="form-control" id="lastyearamount" disabled>
				</div>
				<div class="form-group">
					<label for="amount" data-i18n="regulation.deptForm.editDeptModal.amount"><!-- 聯合分發名額（只有學士班有聯合分發） --></label>
					<input type="number" class="form-control" id="amount">
				</div>
				<div class="form-group">
					<label for="selfamount" data-i18n="regulation.deptForm.editDeptModal.selfamount"><!-- 個人申請名額 --></label>
					<input type="number" class="form-control" id="selfamount">
				</div>
				<div class="form-group row">
					<div class="col-12">
						<input id="recurit_self" class="" type="checkbox" />
						<label for="recurit_self" class="col-form-label" data-i18n="regulation.deptForm.editDeptModal.recurit_self"><!-- 是否有自招 --></label>
					</div>
				</div>
				<div class="form-group col-11 offset-1">
					<label for="selfschool" data-i18n="regulation.deptForm.editDeptModal.selfschool"><!-- 自招名額 --></label>
					<input type="number" class="form-control" id="selfschool">
				</div>
				<div class="form-group row">
					<div class="col-12">
						<input id="specialclass" class="" type="checkbox" />
						<label for="specialclass" class="col-form-label" data-i18n="regulation.deptForm.editDeptModal.specialclass"><!-- 是否招收僑生專班 --></label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-12">
						<input id="specialclass_foriegn" class="" type="checkbox" />
						<label for="specialclass_foriegn" class="col-form-label" data-i18n="regulation.deptForm.editDeptModal.specialclass_foriegn"><!-- 是否招收外生專班 --></label>
					</div>
				</div>
				<div class="form-group">
					<label for="type" data-i18n="regulation.deptForm.editDeptModal.type"><!-- 特殊系所 --></label>
					<input type="text" class="form-control" id="type">
				</div>
				<div class="form-group">
					<label for="sex" data-i18n="regulation.deptForm.editDeptModal.sex"><!-- 性別限制 --></label>
					<input type="text" class="form-control" id="sex">
				</div>
				<div class="form-group">
					<label for="sortorder" data-i18n="regulation.deptForm.editDeptModal.sortorder"><!-- 輸出排序 --></label>
					<input type="number" class="form-control" id="sortorder">
				</div>
				<div class="form-group">
					<label for="afterbirth" data-i18n="regulation.deptForm.editDeptModal.afterbirth"><!-- 限...之後出生 --></label>
					<input type="date" class="form-control" id="afterbirth">
				</div>
				<div class="form-group">
					<label for="beforebirth" data-i18n="regulation.deptForm.editDeptModal.beforebirth"><!-- 限...之前出生 --></label>
					<input type="date" class="form-control" id="beforebirth">
				</div>
				<div class="form-group">
					<label for="deptgroup" data-i18n="regulation.deptForm.editDeptModal.deptgroup"><!-- 18大學群代碼 --></label>
					<input type="text" class="form-control" id="deptgroup">
				</div>
				<div class="form-group">
					<label for="deptgroup_2" data-i18n="regulation.deptForm.editDeptModal.deptgroup_2"><!-- 次要18大學群代碼 --></label>
					<input type="text" class="form-control" id="deptgroup_2">
				</div>
				<div class="form-group row">
					<div class="col-12">
						<input id="engTaught" class="" type="checkbox" />
						<label for="engTaught" class="col-form-label" data-i18n="regulation.deptForm.editDeptModal.engTaught"><!-- 全英文授課 --></label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-12">
						<input id="Disabilities" class="" type="checkbox" />
						<label for="Disabilities" class="col-form-label" data-i18n="regulation.deptForm.editDeptModal.Disabilities"><!-- 是否招收身障學生 --></label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-12">
						<input id="WoBuHwei" class="" type="checkbox" />
						<label for="WoBuHwei" class="col-form-label" data-i18n="regulation.deptForm.editDeptModal.WoBuHwei"><!-- 是否招收不具華文基礎學生 --></label>
					</div>
				</div>
				<div class="form-group">
					<label for="evaluation" data-i18n="regulation.deptForm.editDeptModal.evaluation"><!-- 系所評鑑等級 --></label>
					<input type="text" class="form-control" id="evaluation">
				</div>
				<div class="form-group">
					<label for="chDeptName" data-i18n="regulation.deptForm.editDeptModal.locale.ch.deptName"><!-- 系所名稱 --></label>
					<input type="text" class="form-control" id="chDeptName">
				</div>
				<div class="form-group">
					<label for="enDeptName" data-i18n="regulation.deptForm.editDeptModal.locale.en.deptName"><!-- 系所英文名稱 --></label>
					<input type="text" class="form-control" id="enDeptName">
				</div>
				<div class="form-group">
					<label for="chChoicememo" data-i18n="regulation.deptForm.editDeptModal.locale.ch.choicememo"><!-- 選系說明 --></label>
					<input type="text" class="form-control" id="chChoicememo">
				</div>
				<div class="form-group">
					<label for="enChoicememo" data-i18n="regulation.deptForm.editDeptModal.locale.en.choicememo"><!-- 選系英文說明 --></label>
					<input type="text" class="form-control" id="enChoicememo">
				</div>
				<div class="form-group">
					<label for="chDocmemo" data-i18n="regulation.deptForm.editDeptModal.locale.ch.docmemo"><!-- 書審說明 --></label>
					<input type="text" class="form-control" id="chDocmemo">
				</div>
				<div class="form-group">
					<label for="enDocmemo" data-i18n="regulation.deptForm.editDeptModal.locale.en.docmemo"><!-- 書審英文說明 --></label>
					<input type="text" class="form-control" id="enDocmemo">
				</div>
				<div class="form-group">
					<label for="chDeptmemo" data-i18n="regulation.deptForm.editDeptModal.locale.ch.deptmemo"><!-- 備註 --></label>
					<input type="text" class="form-control" id="chDeptmemo">
				</div>
				<div class="form-group">
					<label for="enDeptmemo" data-i18n="regulation.deptForm.editDeptModal.locale.en.deptmemo"><!-- 英文備註 --></label>
					<input type="text" class="form-control" id="enDeptmemo">
				</div>
				<div class="form-group">
					<label for="chUrl" data-i18n="regulation.deptForm.editDeptModal.locale.ch.url"><!-- 系網站網址 --></label>
					<input type="text" class="form-control" id="chUrl">
				</div>
				<div class="form-group">
					<label for="enUrl" data-i18n="regulation.deptForm.editDeptModal.locale.en.url"><!-- 英文系網站網址 --></label>
					<input type="text" class="form-control" id="enUrl">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-i18n="global.saveBtn"><!-- 儲存 --></button>
			</div>
		</div>
	</div>
</div>
