<div class="container" id="page-regulation">
	<div class="row">
		<div class="col-lg-12 title active" data-content="schoolForm">
			<i class="fa fa-chevron-right icon-arrow" aria-hidden="true"></i>
			<span data-i18n="regulation.title.schoolForm"><!-- 學校資料設定 --></span>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11 offset-lg-1">
			<div id="schoolForm">
				 <div class="form-group">
					<label for="phone" data-i18n="regulation.schoolForm.phone"><!-- 學校聯絡電話 --></label>
					<input type="text" class="form-control" id="phone">
				</div>
				<div class="form-group">
					<label for="fax" data-i18n="regulation.schoolForm.fax"><!-- 學校傳真電話 --></label>
					<input type="text" class="form-control" id="fax">
				</div>
				<div class="form-group">
					<label for="url" data-i18n="regulation.schoolForm.url"><!-- 學校網站網址 --></label>
					<input type="text" class="form-control" id="url">
				</div>
				<div class="form-group">
					<label for="systems" data-i18n="regulation.schoolForm.systems"><!-- 學制資料 --></label>
					<input type="text" class="form-control" id="systems">
				</div>
				<div class="form-group">
					<label for="scholarshipUrl" data-i18n="regulation.schoolForm.scholarshipUrl"><!-- 僑生專屬獎學金說明網址 --></label>
					<input type="text" class="form-control" id="scholarshipUrl">
				</div>
				<div class="form-group">
					<label for="fiveYearRule" data-i18n="regulation.schoolForm.fiveYearRule"><!-- [中五]給海聯看的學則 --></label>
					<input type="text" class="form-control" id="fiveYearRule">
				</div>
				<div class="form-group">
					<label for="approveNo" data-i18n="regulation.schoolForm.approveNo"><!-- 自招核定文號 --></label>
					<input type="text" class="form-control" id="approveNo">
				</div>
				<div class="form-group">
					<label for="chTitle" data-i18n="regulation.schoolForm.locale.ch.title"><!-- 學校名稱(中文) --></label>
					<input type="text" class="form-control" id="chTitle">
				</div>
				<div class="form-group">
					<label for="enTitle" data-i18n="regulation.schoolForm.locale.en.title"><!-- 學校名稱(英文) --></label>
					<input type="text" class="form-control" id="enTitle">
				</div>
				<div class="form-group">
					<label for="chAddress" data-i18n="regulation.schoolForm.locale.ch.address"><!-- 學校地址(中文) --></label>
					<input type="text" class="form-control" id="chAddress">
				</div>
				<div class="form-group">
					<label for="enAddress" data-i18n="regulation.schoolForm.locale.en.address"><!-- 學校地址(英文) --></label>
					<input type="text" class="form-control" id="enAddress">
				</div>
				<div class="form-group">
					<label for="chOrgnization" data-i18n="regulation.schoolForm.locale.ch.orgnization"><!-- 學校負責僑生事務的承辦單位(中文) --></label>
					<input type="text" class="form-control" id="chOrgnization">
				</div>
				<div class="form-group">
					<label for="enOrgnization" data-i18n="regulation.schoolForm.locale.en.orgnization"><!-- 學校負責僑生事務的承辦單位(英文) --></label>
					<input type="text" class="form-control" id="enOrgnization">
				</div>
				<div class="form-group">
					<label for="chScholarshipInfo" data-i18n="regulation.schoolForm.locale.ch.scholarshipInfo"><!-- 獎學金說明(中文) --></label>
					<input type="text" class="form-control" id="chScholarshipInfo">
				</div>
				<div class="form-group">
					<label for="enScholarshipInfo" data-i18n="regulation.schoolForm.locale.en.scholarshipInfo"><!-- 獎學金說明(英文) --></label>
					<input type="text" class="form-control" id="enScholarshipInfo">
				</div>
				<div class="form-group">
					<label for="chScholarshipDept" data-i18n="regulation.schoolForm.locale.ch.scholarshipDept"><!-- 獎學金負責單位(中文) --></label>
					<input type="text" class="form-control" id="chScholarshipDept">
				</div>
				<div class="form-group">
					<label for="enScholarshipDept" data-i18n="regulation.schoolForm.locale.en.scholarshipDept"><!-- 獎學金負責單位(英文) --></label>
					<input type="text" class="form-control" id="enScholarshipDept">
				</div>
				<div class="form-group">
					<label for="chDormInfo" data-i18n="regulation.schoolForm.locale.ch.dormInfo"><!-- 宿舍說明(中文) --></label>
					<input type="text" class="form-control" id="chDormInfo">
				</div>
				<div class="form-group">
					<label for="enDormInfo" data-i18n="regulation.schoolForm.locale.en.dormInfo"><!-- 宿舍說明(英文) --></label>
					<input type="text" class="form-control" id="enDormInfo">
				</div>
				<div class="form-group row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-4">
								<input id="isScholarship" class="" type="checkbox" />
								<label for="isScholarship" class="col-form-label" data-i18n="regulation.schoolForm.isScholarship"><!-- 是否提供獎學金 --></label>
							</div>

							<div class="col-4">
								<input id="fiveYearAllowed" class="" type="checkbox" />
								<label for="fiveYearAllowed" class="col-form-label" data-i18n="regulation.schoolForm.fiveYearAllowed"><!-- [中五]我可以招呢 --></label>
							</div>

							<div class="col-4">
								<input id="fiveYearPrepare" class="" type="checkbox" />
								<label for="fiveYearPrepare" class="col-form-label" data-i18n="regulation.schoolForm.fiveYearPrepare"><!-- [中五]我準備招了喔 --></label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div id="buttonRow" class="col-md-12">
						<button id="btn-reset" class="btn btn-default" data-i18n="global.resetBtn"><!-- 重設 --></button>
						<button id="btn-save" class="btn btn-primary" data-i18n="global.saveBtn"><!-- 儲存 --></button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 title" data-content="deptForm">
			<i class="fa fa-chevron-right icon-arrow" aria-hidden="true"></i>
			<span data-i18n="regulation.title.deptForm"><!-- 系所資料設定 --></span>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11 offset-lg-1">
			<div id="deptForm" style="display: none">
				<button id="btn-addDept" class="btn btn-primary" data-toggle="modal" data-target="#modal-addDept">
					<i class="fa fa-plus" aria-hidden="true"></i>
					<span data-i18n="regulation.deptForm.addDept"></span>
				</button>
				<table id="table-deptList" class="table table-bordered">
					<thead>
						<tr>
							<th rowspan="2">類組</th>
							<th rowspan="2">系所名稱</th>
							<th colspan="3">招生名額</th>
							<th rowspan="2">備註</th>
							<th rowspan="2"></th>
							<th rowspan="2"></th>
						</tr>
						<tr>
							<th>聯合分發</th>
							<th>個人申請</th>
							<th>自招</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>第一類組</td>
							<td>資訊管理學系</td>
							<td>10</td>
							<td>1</td>
							<td>-</td>
							<td></td>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td><i class="fa fa-trash" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td>第一類組</td>
							<td>資訊管理學系</td>
							<td>10</td>
							<td>1</td>
							<td>-</td>
							<td></td>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td><i class="fa fa-trash" aria-hidden="true"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="modal-addDept" class="modal fade">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-i18n="regulation.deptForm.addDeptModal.title"><!-- 新增系所 --></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">
					<label for="deptName" class="col-2 col-form-label" data-i18n="regulation.deptForm.addDeptModal.deptName"><!-- 系所名稱 --></label>
					<div class="col-10">
						<input id="deptName" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group row">
					<label for="editor" class="col-2 col-form-label" data-i18n="regulation.deptForm.addDeptModal.editor"><!-- 編輯者 --></label>
					<div class="col-10">
						<input id="editor" class="form-control" type="text">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-i18n="global.addBtn"><!-- 新增 --></button>
			</div>
		</div>
	</div>
</div>
